.about {
    padding: 30px 0;
    
    .about__text {
        font-size: 17px;
        color: #484848;
    }

    p {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    ol {
        margin: 0;
        font-size: 18px;
        margin-bottom: 10px;
    }

    a {
        color: $red;
        text-decoration: underline;
    }

    .about__img {
        width: 100%;
    }
}