.buy {
    padding: 30px 0;

    .buy__container {
        align-items: center;
    }

    .products__title {
        margin-bottom: 30px;
    }

    .buy__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;

        .content__img {
            width: 55%;

            @include phones() {
                display: none;
            }

            .img__img {
                width: 100%;
                border-radius: 15px;
            }
        }

        .content__form {
            display: flex;
            flex-direction: column;
            width: 40%;
            border-radius: 15px;
            border: 1px solid $border-gray;
            padding: 20px 30px;

            @include phones() {
                width: 100%;
            }

            .row {
                display: flex;
                align-items: center;
                margin: 10px 0;
            }

            .form__icon {
                margin-right: 20px;
                width: 20px;
            }

            .form__inp {
                border: none;
                border-bottom: 1px solid #D2D2D2;
                padding: 12px;
                font-size: 17px;
                outline: none;
                width: 95%;
            }

            .form__btn {
                margin-top: 20px;
                background: $red;
                color: #ffffff;
                border: none;
                cursor: pointer;
                height: 50px;
                border-radius: 10px;
                font-size: 17px;
                font-weight: bold;
            }

            .form__about {
                font-size: 12px;
                color: #939393;
                text-align: center;
            }
        }
    }

    .buy__about {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include phones() {
            width: 100%;
            flex-wrap: wrap;
        }

        .about__text {
            width: 55%;

            @include phones() {
                width: 100%;
            }

            p {
                font-size: 15px;
                color: #939393;
            }
    
            ol {
                font-size: 15px;
                color: #939393;
                padding-inline-start: 15px;
            }
        }

        .about__nav {
            display: flex;
            width: 40%;
            flex-direction: column;
            position:sticky; 
            top:10px;
    
            @include phones() {
                width: 100%;
            }
    
            .nav__block {
                border: 1px solid #dcdcdc;
                border-radius: 15px;
                margin-bottom: 30px;
                padding: 0 30px;
    
                @include tablets() {
                    padding: 20px;
                }

                a {
                    color: $red;
                    font-size: 17px;
                    text-decoration: underline;
                }
    
                &--img {
    
                    .nav__list {
                        .list__item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 20px;
            
                            .item__img {
                                width: 25%;
                                border-radius: 15px;
                                
                                @include phones() {
                                    display: none;
                                }
                            }
            
                            .item__content {
                                display: flex;
                                flex-direction: column;
                                width: 70%;
    
                                @include phones() {
                                    width: 100%;
                                }
                            }
            
                            .item__link {
                                color: $red;
                                font-size: 17px;
                                text-decoration: underline;
                            }
            
                            .content__text {
                                font-size: 15px;
                            }
                        }
                    }
                }
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
    
            .nav__title {
                text-align: center;
                font-size: 30px;
            }
    
            .nav__list {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0;
    
                .list__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 30px;
                }
    
                .item__img {
                    width: 40%;
                }
            }
    
            .nav__img {
                width: 100%;
            }
    
            .nav__link {
                margin-top: 30px;
                background: none;
                border: 1px solid $red;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            .nav__btn {
                margin-top: 30px;
            }
        }
    }
}