.callback {
    background: url('../images/callback-bg.png') center center no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 30px 0;

    .callback__title {
        font-size: 42px;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;

        @include phones() {
            font-size: 20px;
        }
    }

    .callback__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form__row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 30px;

            &:first-child {

                @include phones() {
                    margin-bottom: 10px;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            @include phones() {
                flex-direction: column;
                margin-bottom: 0;
            }
        }

        .form__item {
            display: flex;
            width: 30%;
            justify-content: center;

            @include phones() {
                width: 80%;
                margin-bottom: 10px;
                justify-content: center;
            }

            &--copy {
                @include phones() {
                    order: 10;
                }
            }

            .item__label {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #FF8D8D;

                .label__img {
                    margin-right: 10px;
                }
            }

            .item__inp {
                background: none;
                border: none;
                border-bottom: 1px solid #FF8D8D;
                color: #ffffff;
                height: 50px;
                outline: none;
                width: 100%;  
                font-size: 18px;  

                @include phones() {
                    width: 100%;
                }

                &::-webkit-input-placeholder {
                    color: #ffffff;
                }
            }

            .form__btn {
                background: #ffffff;
                color: $red;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 0;
                padding-bottom: 0;

                @include phones() {
                    width: 60%;
                    padding: 0;
                }
            }

            .form__copy {
                text-align: center;

                @include phones() {
                    color: #FF8D8D;
                    text-align: center;
                }
            }

            .form__text {
                text-align: center;
                width: 100%;
                
                &--callback {
                    @include phones() {
                        font-weight: bold;
                        color: #ffffff;
                        text-align: center;
                    }
                }
            }
        }
    }
}