.contacts {
    @include phones() {
        padding-top: 30px;
    }

    &--page {
        padding: 145px 0 30px 0;
        
        @include phones() {
            padding: 30px 0;
        }
        .contacts__title {
            width: 100%;
            text-align: center;
        }

        .contacts__container {
            flex-wrap: wrap;
        }

        .contacts__content {
            @include phones() {
                padding-top: 0;
            }
        }


    }

    .contacts__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include phones() {
            flex-wrap: wrap;
        }
    }

    .contacts__map {
        width: 45%;
        height: 350px;

        @include phones() {
            width: 100%;
            display: none;
        }
    }

    .contacts__content {
        width: 45%;
        padding-top: 30px;
        padding-bottom: 30px;

        @include phones() {
            width: 100%;
            padding-top: 0;
        }
    }
    
    .contacts__title {
        text-transform: uppercase;
        font-size: 20px;
        color: $red;
        margin: 0;
        margin-bottom: 20px;

        @include phones() {
            margin-bottom: 20px;
        }
    }

    .contacts__text {
        font-size: 17px;
        color: #939393;
        margin: 0;
        margin-bottom: 70px;
    }

    .contacts__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 25px;

        a {
            color: $black;
            transition: .3s;

            &:hover {
                color: $red;
            }
        }

        .item__img {
            margin-right: 20px;
        }

        .text__name {
            margin: 0;
            margin-bottom: 5px;
            color: #939393;
            font-size: 15px;
        }

        .text__about {
            margin: 0;
            font-size: 17px;

            @include phones() {
                font-size: 16px;
            }
        }

        .contacts__btn {
            background: #FFFFFF;
            border-radius: 10px;
            color: $red;
            font-size: 17px;
            font-weight: bold;
            display: flex;
            height: 50px;
            width: 225px;
            align-items: center;
            justify-content: center;
            transition: .3s;
            border: 1px solid #FF003D;
            cursor: pointer;
            margin-right: 20px;
    
            &--link {
                caret-color: $red;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin: 0;
            }
    
            &:hover {
                color: #FFFFFF;
                background: $red;
            }
        }
    }
}