.docs {
    padding: 145px 0 30px 0;

    @include phones() {
        padding: 30px 0;
    }
    .docs__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .list__item {
            width: 45%;
            border: 1px solid #dcdcdc;
            box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            height: 65px;
            padding-left: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            @include phones() {
                width: 100%;
                margin-bottom: 20px;
                padding: 10px;
            }

            .item__link {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 17px;
                font-weight: bold;
                color: $black;

                @include tablets() {
                    font-size: 15px;
                }

                .link__img {
                    margin-right: 30px;
                }
            }
        }
    }
}