.footer {
    background: #484848;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;

    .footer__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .left__logo {
        margin-bottom: 25px;
    }

    .left__text {
        margin-bottom: 45px;
    }

    .footer__left {
        display: flex;
        flex-direction: column;
        width: 30%;

        .left__link {
            color: #D2D2D2;
            font-size: 17px;
            margin-bottom: 45px;
            transition: .3s;
            display: flex;
            align-items: center;

            .link__icon {
                margin-right: 20px;
            }

            &:hover {
                color: $red;
            }
        }
    }

    .footer__center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 30%;

        .center__link {
            color: #fff;
            width: 30%;
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 40px;
            transition: .3s;

            &:hover {
                color: $red;
            }
        }
    }

    .footer__right {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .right__btn {
            width: 225px;
            margin-bottom: 30px;
            padding: 0;
        }


        .right__socials {
            display: flex;
            justify-content: space-around;
            width: 225px;

            .socials__link {
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s;

                &--inst {
                    background: url('../images/socials/inst.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/inst.svg') center center no-repeat;
                    }
                }

                &--fb {
                    background: url('../images/socials/fb.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/fb.svg') center center no-repeat;
                    }
                }

                &--vk {
                    background: url('../images/socials/vk.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/vk.svg') center center no-repeat;
                    }
                }
            }
        }
    }

    .row__text {
        color: #D2D2D2;
        font-size: 15px;
        margin: 0;
        transition: .3s;

        &:hover {
            color: $red;
        }
    }
}