.footer {
    background: #484848;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        @include phones() {
            flex-direction: column;
        }
    }

    .left__logo {
        margin-bottom: 25px;

        .logo__img {
            width: 100%;
        }
    }

    .left__text {
        margin-bottom: 45px;
        font-size: 17px;
        
        @include phones() {
            width: 100%;
            text-align: center;
        }
    }

    .footer__left {
        display: flex;
        flex-direction: column;
        width: 30%;

        @include phones() {
            width: 100%;
            align-items: center;
        }

        .left__link {
            color: #fff;
            font-size: 17px;
            margin-bottom: 25px;
            transition: .3s;
            display: flex;
            align-items: center;
            font-weight: bold;

            @include laptop() {
                font-size: 15px;
            }

            @include phones() {
                display: none;
            }

            .link__icon {
                margin-right: 20px;
            }

            &:hover {
                color: $red;
            }
        }
    }

    .footer__center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 30%;

        @include tablets() {
            width: 40%;
        }

        @include phones() {
            width: 100%;
            align-items: center;
            padding: 0 0 0 30px;
        }

        .center__link {
            color: #fff;
            width: 30%;
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 40px;
            transition: .3s;

            @include laptop() {
                font-size: 15px;
            }

            @include phones() {
                width: 45%;
                margin-bottom: 20px;
            }

            &:hover {
                color: $red;
            }
        }
    }

    .footer__right {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablets() {
            width: 25%;
        }

        @include phones() {
            width: 100%;
        }

        .right__btn {
            width: 225px;
            margin-bottom: 30px;
            padding: 0;

            @include tablets() {
                width: 50%;
                margin-top: 10px;
            }
        }

        .left__link {
            color: #fff;
            font-size: 17px;
            margin-bottom: 20px;
            transition: .3s;
            display: flex;
            align-items: center;
            font-weight: bold;
            display: none;
            margin-top: 10px;

            @include laptop() {
                font-size: 15px;
            }

            @include phones() {
                display: flex;
            }

            .link__icon {
                margin-right: 20px;
            }

            &:hover {
                color: $red;
            }
        }


        .right__socials {
            display: flex;
            justify-content: space-around;
            width: 225px;

            @include tablets() {
                width: 80%;
            }

            .socials__link {
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s;

                &--inst {
                    background: url('../images/socials/inst.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/inst.svg') center center no-repeat;
                    }
                }

                &--fb {
                    background: url('../images/socials/fb.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/fb.svg') center center no-repeat;
                    }
                }

                &--vk {
                    background: url('../images/socials/vk.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/vk.svg') center center no-repeat;
                    }
                }
            }
        }
    }

    .row__text {
        color: #D2D2D2;
        font-size: 15px;
        margin: 0;
        transition: .3s;

        @include phones() {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }

        &:hover {
            color: $red;
        }
    }
}