.footer {
    // background: #2a2a2a;
    background: linear-gradient(360deg, #484848 0.29%, rgba(72, 72, 72, 0) 116.67%);
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        &:first-child {
            margin-bottom: 30px;
        }

        @include tablets() {
            flex-direction: column;
            align-items: center;

            &:first-child {
                margin-bottom: 0px;
            }
        }
    }

    .left__logo {
        margin-bottom: 25px;
        display: flex;

        .logo__img {
            width: 100%;
        }
    }

    .left__text {
        margin-bottom: 45px;
        font-size: 17px;
        
        @include tablets() {
            width: 100%;
            text-align: center;
        }
    }

    .footer__left {
        display: flex;
        flex-direction: column;
        width: 30%;

        @include tablets() {
            width: 100%;
            align-items: center;
        }

        .left__iso {
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            @include tablets() {
                width: 50%;
                justify-content: space-between;
            }

            @include phones() {
                width: 100%;
            }

            .iso__img {
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s;
                margin-right: 20px;

                @include tablets() {
                    margin-right: 0;
                }

                &--9001 {
                    background: url('../images/iso/9001.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/iso/active/9001.svg') center center no-repeat;
                    }
                }

                &--14001 {
                    background: url('../images/iso/14001.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/iso/active/14001.svg') center center no-repeat;
                    }
                }

                &--18001 {
                    background: url('../images/iso/18001.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/iso/active/18001.svg') center center no-repeat;
                    }
                }

                &--7701 {
                    background: url('../images/iso/7701.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/iso/active/7701.svg') center center no-repeat;
                    }
                }

                &--7703 {
                    background: url('../images/iso/7703.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/iso/active/7703.svg') center center no-repeat;
                    }
                }
            }
        }

        .left__text {
            margin-top: 0;
        }

        .left__link {
            color: #fff;
            font-size: 17px;
            margin-bottom: 25px;
            transition: .3s;
            display: flex;
            align-items: center;
            font-weight: bold;

            @include laptop() {
                font-size: 15px;
            }

            @include tablets() {
                display: none;
            }

            .link__icon {
                margin-right: 20px;
            }

            &:hover {
                color: $red;
            }
        }
    }

    .footer__center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 30%;
        padding-top: 25px;

        @include tablets() {
            width: 60%;
        }

        @include phones() {
            width: 100%;
            align-items: center;
            padding: 0 0 0 30px;
        }

        .center__link {
            color: #fff;
            width: 30%;
            font-size: 17px;
            font-weight: bold;
            margin-top: 40px;
            transition: .3s;

            @include laptop() {
                font-size: 15px;
            }

            @include tablets() {
                width: 45%;
                margin-bottom: 20px;
                margin-top: 0;
            }

            &:hover {
                color: $red;
            }
        }
    }

    .footer__right {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablets() {
            width: 25%;
        }

        @include tablets() {
            width: 100%;
        }

        .right__btn {
            width: 225px;
            margin-bottom: 30px;
            padding: 0;

            @include tablets() {
                width: 60%;
                margin-top: 10px;
            }

            @include phones() {
                width: 80%;
            }
        }

        .left__link {
            color: #fff;
            font-size: 17px;
            margin-bottom: 20px;
            transition: .3s;
            display: flex;
            align-items: center;
            font-weight: bold;
            display: none;
            margin-top: 10px;

            @include laptop() {
                font-size: 15px;
            }

            @include tablets() {
                display: flex;
            }

            .link__icon {
                margin-right: 20px;
            }

            &:hover {
                color: $red;
            }
        }


        .right__socials {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;

            @include tablets() {
                width: 80%;
            }

            .socials__link {
                width: 26%;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s;
                margin-bottom: 20px;

                &--inst {
                    background: url('../images/socials/inst.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/inst.svg') center center no-repeat;
                    }
                }

                &--fb {
                    background: url('../images/socials/fb.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/fb.svg') center center no-repeat;
                    }
                }

                &--vk {
                    background: url('../images/socials/vk.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/vk.svg') center center no-repeat;
                    }
                }

                &--twitter {
                    background: url('../images/socials/twitter.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/twitter.svg') center center no-repeat;
                    }
                }

                &--ok {
                    background: url('../images/socials/ok.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/ok.svg') center center no-repeat;
                    }
                }

                &--youtube {
                    background: url('../images/socials/youtube.svg') center center no-repeat;

                    &:hover {
                        background: url('../images/socials/active/youtube.svg') center center no-repeat;
                    }
                }
            }
        }
    }

    .row__text {
        color: #D2D2D2;
        font-size: 15px;
        margin: 0;
        transition: .3s;

        @include tablets() {
            width: 100%;
            text-align: center;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }

        &:hover {
            color: $red;
        }
    }

    .row__tex {
        color: #949494;
        margin-top: 20px;
        border-top: 1px solid #949494;
        padding-top: 10px;

        a {
            color: #949494;
        }
    }
}