.header {
    padding: 40px 0;
    z-index: 100;
    position: relative;
    background: #fff;

    .header__container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        z-index: 100;
    }

    .header__logo {
        z-index: 100;
    }

    .header__phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: .3s;
        font-size: 17px;
        z-index: 100;

        &:hover {
            color: $red;
        }

        .phone__icon {
            margin-right: 13px;
        }
    }

    .header__socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 100;

        .socials__icon {
            transition: .3s;

            &:hover {
                opacity: .5;
            }
        }

        .icon__img {
            margin-right: 30px;
        }
    }

    .header__buy {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $red;
        border-radius: 40px;
        padding: 10px 25px;
        color: $red;
        transition: .3s;
        z-index: 100;

        &:hover {
            background: $red;
            color: #ffffff;
        }
    }

    .header__menu {
        border: none;
        background: none;
        cursor: pointer;
        transition: .3s;
        z-index: 100;

        &:active {
            outline: none;
        }

        &:focus {
            outline: none;
        }
        
        &:hover {
            transform: rotate(90deg);
        }

        .menu__img {

            &--open {
                display: flex;
                align-items: center;
                justify-content: center;

                &--active {
                    display: none;
                }
            }

            &--exit {
                display: none;

                &--active {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.header__menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: .3s;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;

    &--active {
        border-top: 1px solid #B88B7C;
        margin-top: 48px;
        padding-top: 60px;
        height: inherit;
    }

    .menu-list__link {
        color: #484848;
        font-size: 20px;
        width: 23%;
        margin-bottom: 35px;
        z-index: 100;
        transition: .3s;

        &:hover {
            color: $red;
        }
    }
}