.header {
    padding: 30px 0;
    z-index: 100;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;

    .header__container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        z-index: 100;

        @include phones() {
            flex-wrap: wrap;
        }
    }

    .header__logo {
        z-index: 100;

        @include tablets() {
            width: 30%;
        }

        @include phones() {
            width: 65%;
        }

        .logo__img {
            width: 100%;
        }
    }

    .header__phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: .3s;
        font-size: 20px;
        z-index: 100;
        font-weight: bold;
        color: #FF003D;

        @include tablets() {
            font-size: 15px;
        }

        @include phones() {
            display: none;
        }

        &:hover {
            color: $red;
        }

        .phone__icon {
            margin-right: 13px;
        }
    }

    .header__phone--mob {
        display: none;

        @include phones() {
            display: flex;
        }
    }

    .header__socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 14%;
        z-index: 100;

        @include tablets() {
            width: 15%;
        }

        @include phones() {
            width: 45%;
            order: 3;
            margin-top: 20px;
        }

        .socials__icon {
            transition: .3s;
            width: 25px;

            .icon__img {
                width: 100%;
            }

            &:hover {
                opacity: .5;
            }
        }
    }

    .header__buy {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $red;
        border-radius: 10px;
        padding: 4px 25px;
        color: $red;
        font-weight: bold;
        transition: .3s;
        z-index: 100;
        font-size: 14px;

        @include tablets() {
            padding: 5px;
            text-align: center;
            font-size: 12px;
        }

        @include phones() {
            order: 4;
            margin-top: 20px;
        }

        &:hover {
            background: $red;
            color: #ffffff;
        }
    }

    .header__menu {
        border: none;
        background: none;
        cursor: pointer;
        transition: .3s;
        z-index: 100;
        padding: 0;

        @include phones() {
            height: 25px;
        }

        &:active {
            outline: none;
        }

        &:focus {
            outline: none;
        }
        
        &:hover {
            transform: rotate(90deg);

            @include tablets() {
                transform: none;
            }
        }

        .menu__img {

            @include phones() {
                height: 100%;
            }

            &--open {
                display: flex;
                align-items: center;
                justify-content: center;

                &--active {
                    display: none;
                }
            }

            &--exit {
                display: none;

                &--active {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.header__menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: .3s;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;

    &--active {
        border-top: 1px solid #c5c5c5;
        margin-top: 48px;
        padding-top: 60px;
        height: inherit;
    }

    .menu-list__link {
        color: #484848;
        font-size: 20px;
        width: 20%;
        margin-bottom: 35px;
        z-index: 100;
        transition: .3s;
        text-align: center;

        @include phones() {
            width: 45%;
        }

        &:hover {
            color: $red;
        }

        &--border {
            border: 1px solid $red;
            border-radius: 30px;
        }
    }
}