.hero {
    height: 72vh;

    @include phones() {
        background: url('../images/hero-bg-mob.png') no-repeat;
        background-size: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        height: 65vh;
    }

    .hero__container {
        background: url('../images/hero-bg.png') right top no-repeat;
        background-size: contain;
        height: 95%;

        @include phones() {
            background: none;
        }
    }
    
    .container__left {
        width: 50%;

        @include phones() {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .hero__title {
        font-size: 36px;
        color: #484848;
        margin-bottom: 30px;
        text-align: left;

        .title__color {
            color: $red;
        }

        @include phones() {
            font-size: 20px;
        }
    }

    .hero__callback {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include phones() {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .callback__btn {
        border: 1px solid #dcdcdc;

        @include phones() {
            height: 40px;
            padding: 5px 40px;
            margin-bottom: 15px;
        }
    }

    .callback__btn--white {
        background: #ffffff;
        color: $red;
        transition: .3s;

        &:hover {
            background: $red;
            color: #ffffff;
        }
    }

    .hero__img {
        height: 50px;
        width: 50px;
        margin-bottom: 30px;

        @include phones() {
            height: 30px;
            width: 30px;
        }
    }
}