.hero {
    min-height: 65vh;
    padding-top: 30px;

    @include phones() {
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 48vh;
        padding-top: 0;
    }

    .hero__container {
        height: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include phones() {
            justify-content: flex-start;
            padding-top: 15px;
            flex-direction: column;
        }

        @include landscape() {
            padding-top: 15px;
        }
    }
    
    .container__left {
        width: 45%;

        @include landscape() {
            width: 35%;
        }

        @include tablets() {
            width: 85%;
        }

        @include phones() {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .container__image {
        width: 55%;

        @include phones() {
            display: none;
        }

        .image__img {
            height: 375px;

            @include landscape() {
                height: 250px;
            }
        }
    }

    .hero__title {
        font-size: 36px;
        color: $gray;
        margin-bottom: 50px;
        text-align: left;

        .title__color {
            color: $red;
            text-transform: initial;
        }

        @include landscape() {
            font-size: 20px;
        }

        @include phones() {
            display: none;
        }

        &--mobile {
            display: none;

            @include phones() {
                text-align: left;
                display: initial;
                font-size: 20px;
                margin-bottom: 10px;
                color: $gray;
            }
        }
    }

    .hero__img-mobile {
        display: none;

        @include phones() {
            width: 100%;
            display: initial;
        }
    }

    .left__imgs {
        display: flex;
        margin-bottom: 50px;

        .imgs__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: .3s;
            cursor: pointer;
            position: relative;
            height: 50px;
            width: 50px;
            transition: .3s;

            &:hover {
                transition: .3s;

                .item__text {
                    height: 40px;
                    width: 120px;
                    transition: .3s;
                }
            }
            
            .hero__img {
                height: 50px;
                width: 50px;
                transition: .3s;
        
                @include phones() {
                    height: 30px;
                    width: 30px;
                }
            }

            .item__text {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 0;
                overflow: hidden;
                height: 0;
                transition: .3s;
                margin-bottom: 20px;
                bottom: -55px;
                position: absolute;
                color: #d0801f;
            }
        }
    }

    .hero__callback {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;

        @include landscape() {
            width: 100%;
        }

        @include phones() {
            width: 100%;
            align-items: flex-start;
        }
    }

    .callback__btn {
        border: 1px solid #dcdcdc;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;

        @include landscape() {
            width: 125px;
        }

        @include phones() {
            height: 30px;
            padding: 5px 10px;
            margin-bottom: 15px;
        }
    }

    .callback__btn--white {
        background: #ffffff;
        color: $red;
        transition: .3s;

        &:hover {
            background: $red;
            color: #ffffff;
        }
    }
}