.hero {
    height: 65vh;

    @include phones() {
        background: url('../images/hero-bg-mob.png') no-repeat;
        background-size: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        height: 50vh;
    }

    .hero__container {
        background: url('../images/hero-bg.png') right top no-repeat;
        background-size: contain;
        height: 95%;
        display: flex;
        justify-content: center;

        @include phones() {
            background: none;
        }
    }
    
    .container__left {
        width: 50%;

        @include phones() {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .hero__title {
        font-size: 36px;
        color: $gray;
        margin-bottom: 50px;
        text-align: left;

        .title__color {
            color: $red;
        }

        @include phones() {
            font-size: 20px;
        }
    }

    .left__imgs {
        display: flex;
        margin-bottom: 50px;

        .imgs__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: .3s;
            cursor: pointer;
            position: relative;
            height: 50px;
            width: 50px;
            transition: .3s;

            &:hover {
                transition: .3s;

                .item__text {
                    height: 40px;
                    width: 120px;
                    transition: .3s;
                }
            }
            
            .hero__img {
                height: 50px;
                width: 50px;
                transition: .3s;
        
                @include phones() {
                    height: 30px;
                    width: 30px;
                }
            }

            .item__text {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 0;
                overflow: hidden;
                height: 0;
                transition: .3s;
                margin-bottom: 20px;
                bottom: -55px;
                position: absolute;
                color: #d0801f;
            }
        }
    }

    .hero__callback {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;

        @include phones() {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .callback__btn {
        border: 1px solid #dcdcdc;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;

        @include phones() {
            height: 40px;
            padding: 5px 40px;
            margin-bottom: 15px;
        }
    }

    .callback__btn--white {
        background: #ffffff;
        color: $red;
        transition: .3s;

        &:hover {
            background: $red;
            color: #ffffff;
        }
    }
}