.job {
    padding-bottom: 30px;
    padding-top: 30px;

    .container {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .title {
        color: $red;
        font-size: 32px;
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;

        @include phones() {
            font-size: 30px;
        }
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
        text-align: justify;
    }

    ol,ul {
        margin: 0;
        font-size: 16px;
        padding-left: 20px;
    }

    ul {
        list-style: initial;
    }

    a {
        color: $red;
        text-decoration: underline;
    }

    .job__breadcrumbs {
        list-style: none;
        padding: 0;
    }

    .job__content {
        width: 55%;
        display: flex;
        flex-direction: column;

        @include tablets() {
            width: 100%;
        }

        .job__img {
            width: 100%;
            margin: 40px 0;
        }

        .content__border-red {
            background: linear-gradient(to right, red, white);
            padding: 2px;
            border-radius: 10px;
            margin: 20px 0;
        }
    
        .border-red__text {
            background: #fff;
            margin: 0;
            padding: 20px 30px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 17px;
    
            @include tablets() {
                padding: 10px 15px;
            }
        }
    }

    .job__nav {
        display: flex;
        width: 40%;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 10px;
        border: 1px solid #dcdcdc;
        border-radius: 15px;
        padding: 50px 30px;

        @include tablets() {
            width: 100%;
            margin-top: 30px;
        }

        .nav__title {
            text-align: center;
            margin-bottom: 40px;
            margin-top: 0;
            font-size: 30px;
            color: $red;
        }

        .nav__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding-left: 40px;
            font-size: 20px;
            padding: 0;
            list-style: none;
        }

        .list__item {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;

            .item__img {
                margin-right: 30px;
            }
        }

        .nav__subtitle {
            font-size: 16px;
            text-align: center;
        }

        .nav__btn {
            margin-left: 15px;
            width: 225px;
        }
    }
}