.job {
    padding-bottom: 30px;
    padding-top: 30px;

    .container {
        align-items: center;
    }

    .title {
        color: #939393;
        font-size: 32px;
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
        text-align: justify;
    }

    ol,ul {
        margin: 0;
        font-size: 16px;
        list-style: initial;
        padding-left: 20px;
    }

    a {
        color: $red;
        text-decoration: underline;
    }

    .service__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        max-width: 650px;

        @include phones() {
            flex-direction: column;
        }
    }

    .content__about {
        width: 100%;

        @include phones() {
            width: 100%;
        }

        .about__price {
            margin-bottom: 30px;

            .price__row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;
            }

            .row__name {
                color: #484848;
                width: 70%;
            }

            .row__old-price {
                color: #939393;
                width: 15%;
                text-decoration: line-through;
                text-align: right;
            }

            .row__new-price {
                font-size: 17px;
                color: $red;
                width: 15%;
                text-align: right;
            }
        }

        .about__callback {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            @include phones() {
                flex-direction: column;
            }

            .callback__btn-price {
                background: #ffffff;
                color: $red;
                border: 1px solid $red;
                display: flex;
                align-items: center;
                justify-content: center;

                @include phones() {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .callback__btn-buy {
                @include phones() {
                    width: 70%;
                    margin-top: 20px;
                }
            }
        }
    }

    .content__img {
        width: 100%;
        height: 330px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        @include phones() {
            height: 150px;
        }

        .img__img {
            height: 100%;
        }
    }
}