.jobs {
    padding: 30px 0;
    
    .jobs__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .jobs__item {
            background: #FFFFFF;
            box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            padding: 25px;
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 375px;
            margin-bottom: 50px;

            @include phones() {
                width: 100%;
                height: 350px;
                padding: 10px 17px;
            }

            .item__title {
                text-align: center;
                font-size: 22px;
                color: #484848;
                font-weight: bold;
                margin: 0;

                @include phones() {
                    margin-top: 5px;
                    margin-bottom: 0;
                }
            }

            p {
                font-size: 16px;
            }

            .item__text {
                font-size: 15px;
                color: #939393;
                text-align: center;
                margin: 0;
            }

            .item__block {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .item__btn {
                background: #FFFFFF;
                color: $red;
                padding: 0;
                width: 65%;
                border: 1px solid red;

                @include phones() {
                    width: 60%;
                }

                &:hover {
                    background: $red;
                    color: #FFFFFF;
                }

                &--link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #fff;
                    color: $red;
                    border: 1px solid red;
                    height: 30px;

                    &:hover {
                        background: $red;
                        color: #fff;
                    }
                }
            }
        }
    }
}