.jobs {
    .jobs__title {
        font-size: 42px;
        text-align: center;
        text-transform: uppercase;
        color: $red;
        font-weight: bold;
        margin: 0;
    }

    .jobs__text {
        text-align: center;
        font-size: 15px;
        color: #939393;
        margin-bottom: 30px;

        .text__link {
            color: $red;
        }
    }

    .jobs__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .jobs__item {
            background: #FFFFFF;
            box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            padding: 50px;
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 520px;
            margin-bottom: 50px;

            .item__title {
                text-align: center;
                font-size: 24px;
                color: #484848;
                font-weight: bold;
            }

            .item__text {
                font-size: 15px;
                color: #939393;
                text-align: center;
            }

            .item__btn {
                background: #FFFFFF;
                color: $red;
                padding: 0;
                width: 80%;
                border: 1px solid red;

                &:hover {
                    background: $red;
                    color: #FFFFFF;
                }
            }
        }
    }
}