.new {
    padding-bottom: 30px;
    padding-top: 30px;

    .container {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .title {
        color: $red;
        font-size: 32px;
        width: 100%;
        text-align: center;
        margin: 30px 0;

        @include phones() {
            font-size: 30px;
        }
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
        text-align: justify;
    }

    ol,ul {
        margin: 0;
        font-size: 16px;
        padding-left: 20px;
    }

    ul {
        list-style: initial;
    }

    a {
        color: $red;
        text-decoration: underline;
    }

    .new__breadcrumbs {
        list-style: none;
        padding: 0;
    }

    .new__content {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .new__img {
            width: 80%;
            margin: 0;
        }

        .content__callback {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 30px;
            width: 100%;
        }

        .content__link {
            background: none;
            border: 1px solid $red;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
    }

    .new__nav {
        display: flex;
        width: 35%;
        flex-direction: column;
        position:sticky; 
        top:10px;

        .nav__block {
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .nav__title {
            text-align: center;
        }

        .nav__list {
            display: flex;
            flex-direction: column;
            width: 100%;

            .list__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
            }

            .item__img {
                width: 40%;
            }
        }

        .nav__img {
            width: 100%;
        }

        .nav__link {
            margin-top: 30px;
            background: none;
            border: 1px solid $red;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav__btn {
            margin-top: 30px;
        }
    }
}