.news {
   padding: 30px 0;

    .news__container {
        align-items: center;
    }

    .news__links {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .links__link {
            border: 1px solid $gray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s;
            padding: 10px;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #ffffff;
                background: $red;
            }

            &--active {
                color: #ffffff;
                background: $red;
            }
        }
    }

    .news__btn {
        width: 180px;
        background: #ffffff;
        border: 1px solid $red;
        color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .news__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .list__item {
            width: 45%;
            margin-bottom: 60px;
            overflow: hidden;

            @include phones() {
                width: 100%;
                height: 300px;
            }

            .item__link {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border: 1px solid #c5c5c5;
                border-radius: 10px;
                padding: 0;
                overflow: hidden;

                @include phones() {
                    height: 100%;
                    flex-direction: column;
                }

                .link__img {
                    width: 48%;
                    background-size: contain;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    @include phones() {
                        width: 100%;
                        overflow: hidden;
                        height: 100%;
                    }

                    .img__img {
                        width: 100%;
                    }
                }

                .link__content {
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    padding: 25px 10px;

                    @include phones() {
                        width: 100%;
                    }

                    .content__date {
                        display: flex;
                        align-items: center;
                        margin: 0;

                        .date__icon {
                            margin-right: 15px;
                        }
                    }

                    .content__title {
                        font-size: 18px;
                        color: #484848;
                        font-weight: bold;
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }
}