.new {
    padding-bottom: 30px;
    padding-top: 145px;

    @include phones() {
        padding-top: 30px;
    }

    .container {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .title {
        color: $red;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;

        @include phones() {
            font-size: 20px;
        }
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
        text-align: justify;
    }

    ol,ul {
        margin: 0;
        font-size: 16px;
        padding-left: 20px;
    }

    ul {
        list-style: initial;
    }

    a {
        color: $red;
        text-decoration: none;
        font-weight: bold;
    }

    .content__border-red {
        background: linear-gradient(to right, red, white);
        padding: 2px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .border-red__text {
        background: #fff;
        margin: 0;
        padding: 20px 30px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 16px;

        @include tablets() {
            padding: 10px 15px;
        }
    }

    .content__text--bg-gray {
        display: block;
        background: #F2F2F2;
        border-radius: 10px;
        padding: 20px 30px;

        @include tablets() {
            padding: 10px 15px;
        }
    }

    .new__breadcrumbs {
        list-style: none;
        padding: 0;
    }

    .new__content {
        width: 55%;
        display: flex;
        flex-direction: column;

        @include tablets() {
            width: 100%;
            margin-bottom: 30px;
        }

        .new__img {
            width: 100%;
            margin: 0;
            border-radius: 15px;
        }

        .content__callback {
            display: flex;
            align-items: center;
            margin-top: 30px;
            width: 100%;

            @include phones() {
                flex-direction: column;
            }
        }

        .content__link {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin-right: 75px;

            @include phones() {
                width: 100%;
                margin: 0;
                margin-bottom: 20px;
            }
        }

        .content__btn {
            background: none;
            color: $red;
            border: 1px solid $red;

            @include phones() {
                width: 100%;
            }
        }
    }

    .new__nav {
        display: flex;
        width: 40%;
        flex-direction: column;
        position:sticky; 
        top:10px;

        @include tablets() {
            width: 100%;
        }

        .nav__block {
            border: 1px solid $border-gray;
            border-radius: 15px;
            margin-bottom: 30px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include tablets() {
                padding: 20px;
            }

            &--img {

                .nav__list {
                    display: flex;
                    flex-direction: column;
        
                    .list__item {
                        width: 100%;
                        margin-bottom: 20px;
                        overflow: hidden;
        
                        &:last-child{
                            margin-bottom: 0;
                        }
            
                        @include tablets() {
                            height: 170px;
                        }
            
                        @include phones() {
                            width: 100%;
                            height: 345px;
                        }
            
                        .content__title {
                            font-size: 16px;
                            color: #484848;
                            font-weight: normal;
                            margin: 10px 0 0 0;
                            transition: .3s;
            
                            @include tablets() {
                                font-size: 15px;
                                word-wrap: break-word;
                            }
            
                            @include phones() {
                                font-size: 15px;
                            }
                        }
            
                        .content__arrow {
                            font-size: 30px;
                            color: $black;
                            margin: 0;
                            text-align: right;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            padding: 0 25px;
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                            transition: .3s;
                            padding-right: 0;
                            display: none;
            
                            @include phones() {
                                font-size: 40px;
                                position: initial;
                                right: initial;
                                bottom: initial;
                                padding-right: 0;
                                display: flex;
                            }
                        }
            
                        .content__date {
                            display: flex;
                            align-items: center;
                            margin: 0;
                            font-size: 14px;
                            font-weight: bold;
                            color: $black;
                            transition: .3s;
            
                            .date__icon {
                                margin-right: 15px;
                            }
            
                            .date__text {
                                margin: 0;
                            }
                        }
            
                        &:hover {
                            .content__title, .content__arrow, .content__date {
                                color: $red;
                            }
                        }
            
                        .item__link {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            border: 1px solid #c5c5c5;
                            border-radius: 10px;
                            padding: 0;
                            overflow: hidden;
            
                            @include tablets() {
                                height: 100%;
                            }
            
                            @include phones() {
                                flex-direction: column;
                                justify-content: flex-start;
                            }
            
                            .link__img {
                                width: 45%;
                                background-size: contain;
                                display: flex;
                                align-items: center;
                                justify-content: center;
            
                                @include tablets() {
                                    height: 100%;
                                    overflow: hidden;
                                }
                                
                                @include phones() {
                                    width: 100%;
                                    overflow: hidden;
                                    height: 175px;
                                    align-items: flex-start;
                                }
            
                                .img__img {
                                    width: 100%;
            
                                    @include tablets() {
                                        width: initial;
                                        height: 100%;
                                    }
            
                                    @include phones() {
                                        height: initial;
                                        width: 100%;
                                    }
                                }
                            }
            
                            .link__content {
                                width: 54%;
                                display: flex;
                                flex-direction: column;
                                padding: 5px;
                                position: relative;
                                transition: .3s;
            
                                @include phones() {
                                    width: 100%;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 10px 25px;
                                }
            
                                .content__btn {
                                    width: 150px;
                                    padding: 0;
                                    height: 30px;
                                    position: absolute;
                                    bottom: 10px;
                                    display: none;
            
                                    @include phones() {
                                        position: initial;
                                        bottom: initial;
                                        display: initial;
                                        width: 135px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .nav__title {
            text-align: center;
            font-size: 20px;
            color: #fff;
            background: $red;
            border-radius: 10px;
            padding: 0 10px;
            margin: 0 0 20px 0;
        }

        .nav__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;

            .list__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .item__img {
                width: 40%;
            }
        }

        .nav__img {
            width: 100%;
        }

        .nav__link {
            margin-top: 30px;
            background: none;
            border: 1px solid $red;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav__btn {
            margin-top: 30px;
        }
    }
}