.news {
   padding: 30px 0;

    .news__container {
        align-items: center;
    }

    .news__links {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .links__link {
            border: 1px solid $gray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s;
            padding: 10px;
            margin-right: 20px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 12px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #ffffff;
                background: $red;
            }

            &--active {
                color: #ffffff;
                background: $red;
            }
        }
    }

    .news__btn {
        width: 180px;
        background: #ffffff;
        border: 1px solid $red;
        color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .news__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .list__item {
            width: 45%;
            margin-bottom: 60px;
            overflow: hidden;

            @include tablets() {
                height: 170px;
            }

            @include phones() {
                width: 100%;
                height: 300px;
            }

            .item__link {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border: 1px solid #c5c5c5;
                border-radius: 10px;
                padding: 0;
                overflow: hidden;

                @include tablets() {
                    height: 100%;
                }

                @include phones() {
                    flex-direction: column;
                }

                .link__img {
                    width: 48%;
                    background-size: contain;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include tablets() {
                        height: 100%;
                        overflow: hidden;
                    }
                    
                    @include phones() {
                        width: 100%;
                        overflow: hidden;
                        height: 100%;
                    }

                    .img__img {
                        width: 100%;

                        @include tablets() {
                            width: initial;
                            height: 100%;
                        }

                        @include phones() {
                            height: initial;
                            width: 100%;
                        }
                    }
                }

                .link__content {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    padding: 5px;

                    @include phones() {
                        width: 100%;
                    }

                    .content__date {
                        display: flex;
                        align-items: center;
                        margin: 0;
                        font-size: 14px;

                        .date__icon {
                            margin-right: 15px;
                        }
                    }

                    .content__title {
                        font-size: 18px;
                        color: #484848;
                        font-weight: normal;
                        margin: 10px 0 0 0;

                        @include tablets() {
                            font-size: 15px;
                            word-wrap: break-word;
                        }

                        @include phones() {
                            font-size: 15px;
                        }
                    }

                    .content__old-price {
                        text-align-last: right;
                        font-size: 16px;
                        color: #949494;
                        margin: 0;
                        text-decoration: line-through;
                        width: 49%;
                    }

                    .content__new-price {
                        text-align-last: right;
                        color: $red;
                        font-size: 18px;
                        margin: 0;
                        width: 49%;
                    }

                    .content__sale {
                        font-size: 18px;
                        background: $red;
                        color: #ffffff;
                        padding: 5px;
                        margin: 0;
                        margin-top: 10px;
                        margin-right: 20px;
                        border-radius: 10px;
                    }

                    .content__arrow {
                        font-size: 16px;
                        color: $black;
                        margin: 0;
                        margin-top: 10px;
                        text-align: right;
                        display: flex;
                        align-items: center;

                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}

.sales {

    .list__item--hidden {
        display: none;
    }

    .news__list {
        .list__item {
            width: 48%;

            @include phones() {
                width: 100%;
                height: 400px;
            }
        }
    }

    .news__list {
        .list__item {
            .item__link {
                height: 185px;
        
            @include phones() {
                height: 400px;
            }
            }
        } 
    }

    .news__list .list__item .item__link .link__img {
        overflow: hidden;
        height: 100%;
    }

    .news__list .list__item .item__link .link__img .img__img {
        height: initial;
        width: 100%;
    }

    .news__list .list__item .item__link .link__content {
        flex-direction: row;
        flex-wrap: wrap;
    }
}