.new {
    padding-bottom: 30px;
    padding-top: 30px;

    .container {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .title {
        color: $red;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;

        @include phones() {
            font-size: 20px;
        }
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
        text-align: justify;
    }

    ol,ul {
        margin: 0;
        font-size: 16px;
        padding-left: 20px;
    }

    ul {
        list-style: initial;
    }

    a {
        color: $red;
        text-decoration: none;
        font-weight: bold;
    }

    .content__border-red {
        background: linear-gradient(to right, red, white);
        padding: 2px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .border-red__text {
        background: #fff;
        margin: 0;
        padding: 20px 30px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 16px;

        @include tablets() {
            padding: 10px 15px;
        }
    }

    .content__text--bg-gray {
        display: block;
        background: #F2F2F2;
        border-radius: 10px;
        padding: 20px 30px;

        @include tablets() {
            padding: 10px 15px;
        }
    }

    .new__breadcrumbs {
        list-style: none;
        padding: 0;
    }

    .new__content {
        width: 55%;
        display: flex;
        flex-direction: column;

        @include tablets() {
            width: 100%;
            margin-bottom: 30px;
        }

        .new__img {
            width: 100%;
            margin: 0;
            border-radius: 15px;
        }

        .content__callback {
            display: flex;
            align-items: center;
            margin-top: 30px;
            width: 100%;

            @include phones() {
                flex-direction: column;
            }
        }

        .content__link {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin-right: 75px;

            @include phones() {
                width: 100%;
                margin: 0;
                margin-bottom: 20px;
            }
        }

        .content__btn {
            background: none;
            color: $red;
            border: 1px solid $red;

            @include phones() {
                width: 100%;
            }
        }
    }

    .new__nav {
        display: flex;
        width: 40%;
        flex-direction: column;
        position:sticky; 
        top:10px;

        @include tablets() {
            width: 100%;
        }

        .nav__block {
            border: 1px solid #dcdcdc;
            border-radius: 15px;
            margin-bottom: 30px;
            padding: 0 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablets() {
                padding: 20px;
            }

            &--img {

                .nav__list {
                    .list__item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;
                        border: 1px solid #e4e4e4;
                        border-radius: 17px;
                        transition: .3s;

                        &:hover {
                            border-color: $red;
                        }
        
                        .item__img {
                            width: 25%;
                            border-radius: 15px;
                            
                            @include phones() {
                                display: none;
                            }
                        }
        
                        .item__content {
                            display: flex;
                            flex-direction: column;
                            width: 70%;

                            @include phones() {
                                width: 100%;
                                padding: 5px;
                            }
                        }
        
                        .item__link {
                            color: $black;
                            font-size: 16px;
                            text-decoration: none;
                        }
        
                        .content__text {
                            font-size: 15px;
                        }
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .nav__title {
            text-align: center;
            font-size: 20px;
            color: #fff;
            background: $red;
            border-radius: 10px;
            padding: 0 10px;
        }

        .nav__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;

            .list__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
            }

            .item__img {
                width: 40%;
            }
        }

        .nav__img {
            width: 100%;
        }

        .nav__link {
            margin-top: 30px;
            background: none;
            border: 1px solid $red;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav__btn {
            margin-top: 30px;
        }
    }
}