.news {
   padding: 30px 0;

    .news__container {
        align-items: center;
    }

    .news__links {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .links__link {
            color: $black;
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
            padding: 5px;

            &:last-child {
                margin-right: 0;
            }

            &--active {
                color: #ffffff;
                background: $red;
            }
        }
    }

    .news__btn {
        width: 180px;
        background: #ffffff;
        border: 1px solid $red;
        color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .news__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .list__item {
            width: 100%;
            margin-bottom: 60px;
            overflow: hidden;

            @include phones() {
                width: 100%;
            }

            .item__link {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border: 1px solid #c5c5c5;
                border-radius: 10px;
                padding: 0;
                overflow: hidden;

                @include phones() {
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                }

                .link__img {
                    width: 48%;
                    background-size: contain;
                    
                    @include phones() {
                        width: 100%;
                        height: 250px;
                    }
                }

                .link__content {
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    padding: 50px 0;

                    @include phones() {
                        width: 95%;
                        padding: 15px 0;
                    }

                    .content__date {
                        display: flex;
                        align-items: center;

                        .date__icon {
                            margin-right: 15px;
                        }
                    }

                    .content__title {
                        font-size: 24px;
                        color: #484848;
                        font-weight: bold;
                        margin: 0;
                    }

                    .content__text {
                        color: #484848;
                        font-size: 17px;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}