.news {
    padding: 145px 0 30px 0;
    
   @include phones() {
    padding: 30px 0;
   }

    .news__container {
        align-items: center;
    }

    .news__links {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .links__link {
            border: 1px solid $gray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s;
            padding: 10px;
            margin-right: 20px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 12px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #ffffff;
                background: $red;
            }

            &--active {
                color: #ffffff;
                background: $red;
            }
        }
    }

    .news__btn {
        width: 180px;
        background: #ffffff;
        border: 1px solid $red;
        color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .news__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .list__item--hidden {
            display: none;
        }

        .list__item {
            width: 45%;
            margin-bottom: 60px;
            overflow: hidden;

            @include tablets() {
                height: 170px;
            }

            @include phones() {
                width: 100%;
                height: 375px;
            }

            .content__title {
                font-size: 18px;
                color: #484848;
                font-weight: normal;
                margin: 10px 0 0 0;
                transition: .3s;

                @include tablets() {
                    font-size: 15px;
                    word-wrap: break-word;
                }

                @include phones() {
                    font-size: 15px;
                }
            }

            .content__arrow {
                font-size: 30px;
                color: $black;
                margin: 0;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0 25px;
                position: absolute;
                right: 10px;
                bottom: 10px;
                transition: .3s;

                @include phones() {
                    font-size: 40px;
                    position: initial;
                    right: initial;
                    bottom: initial;
                    padding-right: 0;
                }
            }

            .content__date {
                display: flex;
                align-items: center;
                margin: 0;
                font-size: 14px;
                font-weight: bold;
                color: $black;
                transition: .3s;

                .date__icon {
                    margin-right: 15px;
                }

                .date__text {
                    margin: 0;
                }
            }

            &:hover {
                .content__title, .content__arrow, .content__date {
                    color: $red;
                }
            }

            .item__link {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border: 1px solid #c5c5c5;
                border-radius: 10px;
                padding: 0;
                overflow: hidden;

                @include tablets() {
                    height: 100%;
                }

                @include phones() {
                    flex-direction: column;
                }

                .link__img {
                    width: 48%;
                    background-size: contain;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include tablets() {
                        height: 100%;
                        overflow: hidden;
                    }
                    
                    @include phones() {
                        width: 100%;
                        overflow: hidden;
                        height: 100%;
                        align-items: flex-start;
                    }

                    .img__img {
                        width: 100%;

                        @include tablets() {
                            width: initial;
                            height: 100%;
                        }

                        @include phones() {
                            height: initial;
                            width: 100%;
                        }
                    }
                }

                .link__content {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    position: relative;
                    transition: .3s;

                    @include phones() {
                        width: 100%;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 25px;
                    }

                    .content__btn {
                        width: 150px;
                        padding: 0;
                        height: 30px;
                        position: absolute;
                        bottom: 10px;

                        @include phones() {
                            position: initial;
                            bottom: initial;
                        }
                    }

                    .content__old-price {
                        text-align: right;
                        font-size: 16px;
                        color: #949494;
                        margin: 0;
                        text-decoration: line-through;
                        width: 49%;
                    }

                    .content__new-price {
                        text-align: right;
                        color: $red;
                        font-size: 18px;
                        margin: 0;
                        width: 49%;
                    }

                    .content__sale {
                        font-size: 18px;
                        background: $red;
                        color: #ffffff;
                        padding: 5px 10px;
                        margin: 0;
                        margin-right: 20px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include phones() {
                            padding: 5px 10px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

.sales {
    .news__list {
        .list__item {
            width: 48%;

            @include phones() {
                width: 100%;
                height: initial;
            }

            &--hidden {
                display: none;
            }

            .item__link {
                height: 185px;
        
                @include phones() {
                    height: initial;
                }

                .link__img {
                    overflow: hidden;
                    height: 100%;

                    .img__img {
                        height: initial;
                        width: 100%;
                
                        @include phones() {
                            width: 100%;
                            height: initial;
                        }
                    }
                }

                .link__content {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 15px;
            
                    @include phones() {
                        justify-content: space-around;
                    }

                    .content__sale {
                        padding: 0 10px;
                    }

                    .content__title {
                        width: 100%;
                        margin: 0;
                        font-size: 17px;

                        @include phones() {
                            width: 100%;
                            text-align: center;
                            margin-bottom: 10px;
                            font-size: 20px;
                        }
                    }

                    .content__old-price {
                        text-align: center;
                    }
                    
                    .content__new-price {
                        text-align: center;
                        font-weight: bold;
                        font-size: 17px;

                        @include phones() {
                            font-size: 20px;
                        }
                    }

                    .content__date {
                        color: $black;
                        @include phones() {
                            margin-bottom: 10px;
                            width: 100%;
                            text-align-last: left;
                        }
                    }
                }
            }
        } 
    }
}