.partners {
    padding-bottom: 30px;

    .partners__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @include phones() {
            flex-wrap: wrap;
        }
    }

    .partners__title {
        width: 100%;
        color: #939393;
        margin-top: 0;
    }

    .partners__img {
        filter: grayscale(100%);
        opacity: .5;
        transition: .3s;

        @include landscape() {
            width: 15%;
        }

        @include tablets() {
            width: 15%;
        }

        @include phones() {
            width: 45%;
            height: inherit;
            margin-bottom: 15px;
        }

        &:hover {
            filter: grayscale(0%);
            opacity: 1;
        }
    }
}
