.plus {
    padding-bottom: 10px;
    
    .plus__title {
        display: flex;
        flex-direction: row;
        color: $red;
        align-items: center;
        justify-content: center;
        width: 49%;

        @include phones() {
            width: 100%;
        }

        .title__num {
            font-size: 197px;
            margin: 0;
            margin-right: 40px;

            @include tablets() {
                font-size: 170px;
            }

            @include phones() {
                font-size: 120px;
                margin-right: 20px;
            }
        }

        .title__text {
            font-size: 42px;
            text-transform: uppercase;
            width: 360px;
            margin: 0;

            @include tablets() {
                font-size: 35px;
            }

            @include phones() {
                font-size: 25px;
            }
        }
    }

    .plus__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        @include phones() {
            flex-wrap: wrap;
        }
    }

    .plus__item {
        display: flex;
        flex-direction: column;
        border: 1px solid #dcdcdc;
        border-radius: 15px;
        align-items: flex-start;
        justify-content: center;
        width: 23%;
        padding: 15px 30px;
        height: 220px;
        transition: .3s;
        cursor: pointer;

        @include tablets() {
            padding: 15px 13px;
        }

        @include phones() {
            width: 45%;
            padding: 10px;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            height: 125px;
            margin-bottom: 15px;
        }

        .item__img {
            height: 50px;
        }

        .item__title {
            font-size: 17px;
            color: $black;
            margin: 10px 0 0 0;
            font-weight: bold;

            @include phones() {
                font-size: 14px;
            }
        }

        .item__text {
            color: $gray;
            font-size: 15px;
            margin: 10px 0 0 0;

            @include tablets() {
                font-size: 13px;
            }

            @include phones() {
                display: none;
            }
        }
    }
}