.popup-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 350px;
    height: 540px;
    padding: 20px 50px;
    top: -150%;
    left: 50%;
    margin-top: -270px;
    margin-left: -175px;
    background: #ffffff;
    border-radius: 10px;
    z-index: 150;
    transition: .3s;
    overflow: hidden;

    @include phones() {
        width: 100vw;
        padding: 20px;
        margin-left: 0;
        left: 0;
    }

    @include landscape() {
        height: 100%;
        margin-top: 0;
    }

    &--active {
        top: 50%;

        @include landscape{
            top: 0;
        }
    }

    .popup__btn {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 30px;
        color: #FF0000;
        background: none;
        border: none;
        cursor: pointer;
        transition: .3s;

        &:hover {
            opacity: .5;
        }
    }

    .popup-buy__form {
        overflow: hidden;

        @include phones() {
            width: 95%;
        }
    }

    .form__title {
        font-size: 36px;
        font-weight: bold;
        color: $red;
        text-align: center;
        margin: 10px 0 20px;

        @include phones() {
            margin: 0 0 20px 0;
        }
    }

    .form__row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #E5E5E5;

        &--recaptcha {
            width: 100%;
            margin-top: 20px;
            border: none;
        }
    }

    .row__img {
        width: 20px;
        height: 25px;
    }

    .form__inp {
        border: none;
        font-size: 16px;
        color: #484848;
        padding: 20px;
        outline: none;
        width: 95%;

        @include phones() {
            width: 85%;
        }
    }

    .form__btn {
        height: 65px;
        border: none;
        background: linear-gradient(90deg, #FF003D 0%, #FF0000 61.33%, #FF3D00 100%);
        box-shadow: 0px 10px 30px rgba(255, 0, 61, 0.1);
        border-radius: 10px;
        width: 100%;
        color: #ffffff;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
        transition: .3s;

        @include phones() {
            height: 50px;
            margin-top: 25px;
            width: 100%;
        }

        &:hover {
            opacity: .5;
        }
    }

    .form__text {
        font-size: 12px;
        color: #939393;
        text-align: center;
    }
}

.popup-delivery {
    display: none;

    &--active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 450px;
        background: #ffffff;
        color: $black;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -225px;
        margin-left: -250px;
        z-index: 100;
        padding: 20px;
        border-radius: 10px;
        font-size: 15px;

        @include phones() {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin-left: 0;
            margin-top: 0;
        }
    }

    .delivery__exit {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $red;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .delivery__title {
        font-size: 16px;
        color: #ffffff;
        background: $gray;
        padding: 5px 10px;
        border-radius: 10px;
        text-transform: uppercase;
    }

    .delivery__text {
        font-size: 16px;
        text-align: justify;
    }
}

.popup-job {
    display: none;

    &--active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 450px;
        background: #ffffff;
        color: $red;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -225px;
        margin-left: -175px;
        z-index: 50;
        padding: 20px;
        border-radius: 10px;
        font-size: 15px;

        @include phones() {
            width: 100%;
            height: 100%;
            margin: 0;
            left: 0;
            top: 0;
        }
    }

    .job__title {
        font-size: 36px;
        margin: 20px 0;
    }

    .job__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .form__row {
            display: flex;
            align-items: center;
            width: 80%;
        }

        .form__inp {
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid #E5E5E5;
            padding: 20px;
            font-size: 16px;
            color: #484848;
            outline: none;

            &::-webkit-input-placeholder {
                color: #484848;
            }

            &--file {
                border: none;
            }
        }

        .form__wrap-file {
            position: relative;

            .form__inp {
                opacity: 0;
                visibility: hidden;
                position: absolute;
            }

            .form__label {
                width: 100%;
            }

            .label__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 100%;
                color: $red;
                background: #fff;
                border: 1px solid $red;
                border-radius: 10px;
                padding: 10px;
                margin: 20px 0;
            }
        }

        .form__btn {
            width: 80%;
            height: 65px;
        }
    }

    .job__text {
        font-size: 12px;
        color: $gray;
        text-align: center;
        opacity: .6;
    }

    .job__exit {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $red;
        font-size: 35px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

.bg {
    background: #C4C4C4;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    z-index: 10;
    transition: .3s;
  
    &--active {
      height: 100%;
    }

    &--active-popup {
        height: 100%;
        z-index: 100;
    }
}