.popup-buy {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 350px;
    height: 450px;
    padding: 20px 100px;
    top: -50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -175px;
    background: #ffffff;
    border-radius: 10px;
    z-index: 150;
    transition: .3s;

    @include phones() {
        width: 300px;
        padding: 20px;
        margin-left: -150px;
    }

    &--active {
        top: 50%;
    }

    .popup__btn {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 30px;
        color: #FF0000;
        background: none;
        border: none;
    }

    .form__title {
        font-size: 36px;
        font-weight: bold;
        color: $red;
        text-align: center;
    }

    .form__row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form__inp {
        border: none;
        border-bottom: 1px solid #E5E5E5;
        font-size: 16px;
        color: #484848;
        padding: 20px;
        outline: none;
    }

    .form__btn {
        height: 65px;
        border: none;
        background: linear-gradient(90deg, #FF003D 0%, #FF0000 61.33%, #FF3D00 100%);
        box-shadow: 0px 10px 30px rgba(255, 0, 61, 0.1);
        border-radius: 10px;
        width: 100%;
        color: #ffffff;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 50px;
    }

    .form__text {
        font-size: 12px;
        color: #939393;
        text-align: center;
    }
}

.popup-delivery {
    display: none;

    &--active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 450px;
        background: #ffffff;
        color: $black;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -225px;
        margin-left: -250px;
        z-index: 100;
        padding: 20px;
        border-radius: 10px;
        font-size: 15px;

        @include phones() {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin-left: 0;
            margin-top: 0;
        }
    }

    .delivery__exit {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $red;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .delivery__title {
        font-size: 20px;
    }

    .delivery__text {
        font-size: 14px;
    }
}

.popup-job {
    display: none;

    &--active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 500px;
        background: #ffffff;
        color: $red;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -225px;
        z-index: 50;
        padding: 20px;
        border-radius: 10px;
        font-size: 15px;

        @include phones() {
            width: 100%;
            height: 100%;
            margin: 0;
            left: 0;
            top: 0;
        }
    }

    .job__title {
        font-size: 36px;
    }

    .job__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form__inp {
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid $gray;
            padding: 10px;
            font-size: 17px;
            color: #484848;
            outline: none;
            margin-bottom: 35px;

            &::-webkit-input-placeholder {
                color: #484848;
            }

            &--file {
                border: none;
            }
        }

        .form__btn {
            width: 60%;
        }
    }

    .job__text {
        font-size: 15px;
        color: $gray;
        text-align: center;
        opacity: .6;
    }

    .job__exit {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $red;
        font-size: 35px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

.bg {
    background: #C4C4C4;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    z-index: 10;
    transition: .3s;
  
    &--active {
      height: 100%;
    }

    &--active-popup {
        height: 100%;
        z-index: 100;
    }
}