.popup-buy {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 350px;
    height: 500px;
    padding: 20px 100px;
    top: -50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -125px;
    background: #ffffff;
    border-radius: 10px;
    z-index: 150;
    transition: .3s;

    &--active {
        top: 50%;
    }

    .form__title {
        font-size: 42px;
        font-weight: bold;
        color: $red;
        text-align: center;
    }

    .form__row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form__inp {
        border: none;
        border-bottom: 1px solid #E5E5E5;
        font-size: 17px;
        color: #484848;
        padding: 20px;
        outline: none;
    }

    .form__btn {
        height: 65px;
        border: none;
        background: linear-gradient(90deg, #FF003D 0%, #FF0000 61.33%, #FF3D00 100%);
        box-shadow: 0px 10px 30px rgba(255, 0, 61, 0.1);
        border-radius: 10px;
        width: 100%;
        color: #ffffff;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 50px;
    }

    .form__text {
        font-size: 15px;
        color: #939393;
        text-align: center;
    }
}

.bg {
    background: #C4C4C4;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    z-index: 10;
    transition: .3s;
  
    &--active {
      height: 100%;
    }

    &--active-popup {
        height: 100%;
        z-index: 100;
    }
}