.price {
    padding: 30px 0;

    .price__container {
        align-items: center;
        justify-content: center;
    }
    
    .price__btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price__text {
        width: 100%;
        padding-left: 35px;
    }

    .price__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include phones() {
            width: 100%;
        }

        .list__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
        }

        .item__btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            background: #FFFFFF;
            box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            color: #484848;
            font-size: 16px;
            padding: 10px 35px;
            cursor: pointer;
            transition: .3s;

            @include phones() {
                font-size: 16px;
                padding: 10px 15px;
            }

            &:focus {
                outline: none;
            }

            &:hover {
                background: #7d7d7d;
                color: #FFFFFF;
            }
        }

        .btn__icon {
            transform: rotate(180deg);
        }

        .item__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 94%;
            overflow: hidden;
            height: 0;
            transition: 10s;

            &--active {
                height: inherit;
                background: #fff;
                transition: 10s;
            }

            .block__price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgba(184, 139, 124, 0.2);
                background: #fff;
                width: 100%;

                @include phones() {
                    flex-direction: column;
                }
            }

            .price__name {
                color: #939393;
                font-size:16px;
                width: 70%;
                font-weight: normal;

                @include phones() {
                    width: 100%;
                    font-size: 15px;
                }
            }

            .price__num {
                display: flex;
                flex-direction: column;
                width: 30%;

                @include phones() {
                    width: 100%;
                }
            }

            .num__old-price {
                text-decoration: line-through;
                font-size: 16px;
                color: #484848;
                text-align: right;
                margin: 5px 0;

                @include phones() {
                    text-align: center;
                }
            }

            .num__new-price {
                color: $red;
                font-size: 16px;
                text-align: right;
                margin: 5px 0;

                @include phones() {
                    text-align: center;
                }
            }

            .num__usual-price {
                color: #484848;
                font-size: 16px;
                text-align: right;

                @include phones() {
                    text-align: center;
                }
            }

            .num__sale {
                color: #D2D2D2;
                font-size: 16px;
                text-align: right;
                margin: 5px 0;

                @include phones() {
                    text-align: center;
                }
            }
        }

        .item__link {
            background: #FFFFFF;
            border: 1px solid red;
            color: $red;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;

            &:hover {
                background: $red;
                color: #FFFFFF;
            }
        }
    }
}