.products {
    padding: 30px 0;
    background: #f7f7f7;
    
    .products__title {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: $red;
        margin: 0;
        margin-bottom: 15px;

        @include phones() {
            font-size: 20px;
        }
    }

    .products__text {
        text-align: center;
        font-size: 15px;
        color: #939393;

        .text__link {
            color: $red;
        }
    }

    .products__list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        position: relative;

        @include phones() {
            justify-content: space-between;
        }

        .list__item {
            width: 30%;
            margin: 15px;
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            border: 1px solid rgba(184, 139, 124, 0.1);
            border-radius: 15px;
            padding: 30px;
            align-items: center;
            justify-content: space-between;
            height: 325px;
            transition: .3s;

            &:hover {
                cursor: pointer;
            }

            @include tablets() {
                margin: 10px;
                width: 45%;
            }

            @include phones() {
                width: 100%;
                padding: 25px;
                margin: 0 0 15px 0;
                height: initial;
            }

            .item__exit {
                display: none;
            }

            .item__links {
                display: none;
            }

            .item__btn {
                background: #FFFFFF;
                border: 1px solid $red;
                color: $red;
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: initial;
                height: 35px;

                @include phones() {
                    width: 70%;
                }

                &:hover {
                    background: $red;
                    color: #FFFFFF;
                }
            }

            .item__link {
                background: #FFFFFF;
                background: none;
                border: 1px solid $red;
                color: $red;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: initial;
                height: 35px;
                width: 60%;

                &:hover {
                    background: $red;
                    color: #FFFFFF;
                }
            }

            .item__title {
                font-size: 18px;
                font-weight: bold;
                color: #484848;
                margin: 10px 0;
                text-align: center;

                @include tablets() {
                    margin: 10px 0;
                }

                @include phones() {
                    font-size: 15px;
                    margin: 0 0 20px 0;
                }
            }

            .item__text {
                color: #616161;
                margin-bottom: 20px;
                font-size: 18px;
                text-align: center;

                @include tablets() {
                    margin: 10px 0;
                }

                @include phones() {
                    font-size: 15px;
                    margin: 0 0 20px 0;
                    text-align: justify;
                }
            }

            &--active {
                height: 410px;
                position: fixed;
                width: 350px;
                top: 50%;
                left: 50%;
                margin-top: -205px;
                margin-left: -175px;
                z-index: 999999;

                @include phones() {
                    width: 300px;
                    height: 500px;
                    margin-top: -250px;
                    margin-left: -150px;
                }

                .item__text {
                    display: none;
                }

                .item__btn {
                    display: none;
                }

                .item__exit {
                    display: flex;
                    background: none;
                    border: none;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 35px;
                    color: $red;
                }

                // .item__title {
                //     margin-bottom: 43px;
                // }

                .item__links {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
    
                    .links__link {
                        font-size: 15px;
                        color: #484848;
                        margin-bottom: 15px;
                        transition: .3s;
    
                        &:hover {
                            color: $red;
                        }
    
    
                        .link__color {
                            color: $red;
                        }
                    }
                }
            }

            .item__img {
                width: 75px;
                height: 60px;
                background-size: contain;

                @include phones() {
                    margin-bottom: 20px;
                }

                &--1 {
                    background: url('../images/services/svg/1.svg') center center no-repeat;
                }

                &--2 {
                    background: url('../images/services/svg/2.svg') center center no-repeat;
                }
                
                &--3 {
                    background: url('../images/services/svg/3.svg') center center no-repeat;
                }

                &--4 {
                    background: url('../images/services/svg/4.svg') center center no-repeat;
                }

                &--5 {
                    background: url('../images/services/svg/5.svg') center center no-repeat;
                }

                &--6 {
                    background: url('../images/services/svg/6.svg') center center no-repeat;
                }

                &--7 {
                    background: url('../images/services/svg/7.svg') center center no-repeat;
                }

                &--8 {
                    background: url('../images/services/svg/8.svg') center center no-repeat;
                }

                &--9 {
                    background: url('../images/services/svg/9.svg') center center no-repeat;
                }

                &--10 {
                    background: url('../images/services/svg/10.svg') center center no-repeat;
                }

                &--11 {
                    background: url('../images/services/svg/11.svg') center center no-repeat;
                }

                &--12 {
                    background: url('../images/services/svg/12.svg') center center no-repeat;
                }

                &--13 {
                    background: url('../images/services/svg/13.svg') center center no-repeat;
                }

                &--14 {
                    background: url('../images/services/svg/14.svg') center center no-repeat;
                }

                &--15 {
                    background: url('../images/services/svg/15.svg') center center no-repeat;
                }

                &--16 {
                    background: url('../images/services/svg/16.svg') center center no-repeat;
                }

                &--17 {
                    background: url('../images/services/svg/17.svg') center center no-repeat;
                }
            }

            &--sales {
                height: inherit;

                .item__title {
                    color: #939393;
                    font-size: 15px;
                    text-transform: uppercase;
                    margin: 0;
                    margin-top: 10px;
                }

                .item__subtitle {
                    color: $red;
                    font-size: 24px;
                    margin: 0;
                }

                .item__btn {
                    color: #FFFFFF;
                    background: $red;
                }

                .item__price {
                    color: $red;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }
}