.result {
    padding-top: 50px;
    background: url('../images/bg.png') center center no-repeat;
    
    .result__container {
        flex-direction: row;
        justify-content: space-between;

        @include phones() {
            flex-wrap: wrap;
            align-items: center;
        }
    }

    .result__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

        .left__title {
            font-size: 30px;
            color: $black;
            font-weight: bold;
            margin: 65px 0;

            @include phones() {
                margin: 80px 0;
            }

            &--big {
                transform: rotate(-90deg);
                color: $red;
                font-size: 140px;

                @include phones() {
                    font-size: 100px;
                    margin: 0;
                }
            }
        }
    }

    .result__center {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 45%;

        @include phones() {
            width: 60%;
        }

        .center__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $black;
            width: 45%;
            margin-bottom: 80px;

            @include phones() {
                width: 100%;
            }

            .item__num {
                font-size: 60px;
                font-weight: bold;
                margin: 0;
            }

            .item__text {
                margin: 0;
            }
        }
    }

    .result__license {
        width: 30%;

        @include phones() {
            width: 100%;
        }
    }
}