.result {
    padding-top: 30px;
    background: url('../images/bg.png') center center no-repeat;
    
    .result__container {
        flex-direction: row;
        justify-content: space-between;

        @include phones() {
            flex-wrap: wrap;
            align-items: center;
        }
    }

    .result__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

        @include phones() {
            width: 35%;
        }

        .left__title {
            font-size: 30px;
            color: $black;
            font-weight: bold;
            margin: 65px 0;

            @include tablets() {
                margin: 45px 0;
                font-size: 23px;
            }

            @include phones() {
                margin: 120px 0 0 0;
                font-size: 18px;
            }

            &--big {
                transform: rotate(-90deg);
                color: $red;
                font-size: 140px;

                @include tablets() {
                    font-size: 110px;
                }

                @include phones() {
                    font-size: 120px;
                    margin: 0;
                }
            }
        }
    }

    .result__center {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 45%;

        @include phones() {
            width: 60%;
        }

        .center__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $black;
            width: 45%;
            margin-bottom: 80px;

            @include tablets() {
                margin-bottom: 50px;
            }

            @include phones() {
                width: 100%;
                margin-bottom: 15px;
            }

            .item__num {
                font-size: 60px;
                font-weight: bold;
                margin: 0;

                @include tablets() {
                    font-size: 35px;
                }
            }

            .item__text {
                margin: 0;

                @include phones() {
                    text-align: center;
                }
            }
        }
    }

    .result__license {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        .license__item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .item__img {
            width: 100%;

            @include phones() {
                width: 100%;
            }
        }

        @include phones() {
            width: 100%;
        }
    }
}