.result {
    padding-top: 50px;
    
    .result__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .result__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

        .left__title {
            font-size: 17px;
            color: $black;
            margin: 80px 0;

            &--big {
                transform: rotate(-90deg);
                color: $red;
                font-size: 175px;
            }
        }
    }

    .result__center {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%;

        .center__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $black;
            width: 45%;
            margin-bottom: 80px;

            .item__num {
                font-size: 60px;
                font-weight: bold;
                margin: 0;
            }

            .item__text {
                margin: 0;
            }
        }
    }

    .result__license {
        width: 20%;
    }
}