.result {
    padding-top: 30px;
    background: url('../images/bg.png') center center no-repeat;
    
    .result__container {
        flex-direction: row;
        justify-content: space-between;

        @include phones() {
            flex-wrap: wrap;
            align-items: center;
        }
    }

    .result__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;

        @include phones() {
            width: 100%;
        }

        .left__title {
            font-size: 36px;
            color: $red;
            font-weight: bold;
            margin: 65px 0;

            @include landscape() {
                margin: 45px 0;
                font-size: 23px;
            }

            @include tablets() {
                margin: 45px 0;
                font-size: 23px;
            }

            @include phones() {
                margin: 0;
                font-size: 24px;
                text-align: center;
            }

            &--big {
                transform: rotate(-90deg);
                color: $red;
                font-size: 140px;

                @include landscape() {
                    font-size: 110px;
                }

                @include tablets() {
                    font-size: 110px;
                }

                @include phones() {
                    font-size: 95px;
                    transform: rotate(0);
                    margin: 0;
                }
            }
        }
    }

    .result__center {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 45%;

        @include phones() {
            width: 60%;
            margin-top: 20px;
            width: 100%;
        }

        .center__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $black;
            width: 45%;
            margin-bottom: 50px;

            @include tablets() {
                margin-bottom: 50px;
            }

            @include phones() {
                width: 100%;
                margin-bottom: 15px;
            }

            .item__num {
                font-size: 36px;
                font-weight: bold;
                margin: 0;

                @include tablets() {
                    font-size: 35px;
                }
            }

            .item__text {
                margin: 0;
                font-size: 20px;
                text-align: center;

                @include phones() {
                    text-align: center;
                }
            }
        }
    }

    .result__license {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .license__btn {
            position: absolute;
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            z-index: 100;
            padding: 0;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &--left {
                left: 0px;
            }

            &--right {
                right: 0px;
            }

            .btn__img {
                height: 100%;
            }
        }

        .license__slider {
            width: 100%;
        }

        .license__item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .item__img {
            width: 100%;

            @include phones() {
                width: 100%;
            }
        }

        @include phones() {
            width: 100%;
        }
    }
}