.reviews {
    padding: 30px 0;

    .reviews__title {
        margin-bottom: 30px;
    }

    .review__years {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;

        @include phones() {
            flex-wrap: wrap;
            margin-bottom: 0;
        }

        .years__item {
            border: 1px solid $gray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s;
            padding: 10px;
            margin-right: 20px;
            border-radius: 10px;

            @include phones() {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-right: 0;

                @include phones() {
                    margin-right: 20px;
                }
            }

            &:hover {
                background: $red;

                .item__link {
                    color: #fff;
                }
            }

            .item__link {
                text-decoration: none;
                color: $gray;
                font-weight: bold;
            }

            &--active {
                background: $red;

                .item__link {
                    color: #fff;
                }
            }
        }
    }

    .reviews__slider-wrap {
        position: relative;
    }

    .reviews__slider {
        width: 100%;
        margin-bottom: 30px;

        .slider__slide {
            display: flex;
            width: 24%;
            overflow: hidden;

            @include phones() {
                width: 100%;
            }

            .slide__img {
                width: 100%;
            }
        }
    }

    .arrows__left {
        border: none;
        background: none;
        position: absolute;
        left: -20px;
        top: 42%;
        z-index: 50;
        outline: none;
        cursor: pointer;
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }

    .arrows__right {
        border: none;
        background: none;
        position: absolute;
        right: -20px;
        top: 42%;
        z-index: 50;
        outline: none;
        cursor: pointer;
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }

    .content__menu {
        display: flex;
        align-items: center;
        justify-content: center;

        .menu__btn {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: none;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 15px;
        }

        .btn__img {
            width: 100%;
        }
    }
}