.reviews {
    padding: 30px 0;

    .reviews__slider {
        width: 100%;

        .slider__slide {
            display: flex;
            width: 100%;
            justify-content: space-around;

            @include phones() {
                flex-direction: column;
                align-items: center;
            }

            .slide__ava {
                width: 300px;
                height: 300px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                .ava__img {
                    height: 100%;
                }
            }

            .slide__content {
                display: flex;
                flex-direction: column;
                width: 50%;

                @include phones() {
                    width: 100%;
                }

                .content__date {
                    color: #939393;
                    font-size: 15px;
                }

                .content__name {
                    color: #484848;
                    font-size: 30px;
                    margin: 0;
                }

                .content__text {
                    font-size: 20px;
                    color: #646464;
                }
            }
        }

        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .slider__dots{
        position: absolute;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
      }
      
      .slider__dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
      }
      
      .slider__dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
      }
      
      .slider__dots li button:hover,
      .slider__dots li button:focus {
        outline: none;
      }
      
      .slider__dots li button:hover:before,
      .slider__dots li button:focus:before {
        opacity: 1;
      }
      
      .slider__dots li button:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: url('https://upload.wikimedia.org/wikipedia/commons/b/b7/Rule_Segment_-_Circle_open_-_20px.svg');
        text-align: center;
        opacity: .25;
        color: $red;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
         
      }
      
      .slider__dots li.slick-active button:before {
        opacity: .75;
        color: $red;
      }

    .content__menu {
        display: flex;
        align-items: center;
        justify-content: center;

        .menu__btn {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: none;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 15px;
        }

        .btn__img {
            width: 100%;
        }
    }
}