.reviews {
    background: rgba(184, 139, 124, 0.03);
    padding-bottom: 50px;

    .reviews__slider {
        display: flex;
        width: 100%;

        .slider__slide {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .slide__ava {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                overflow: hidden;

                .ava__img {
                    width: 100%;
                }
            }

            .slide__content {
                display: flex;
                flex-direction: column;
                width: 50%;

                .content__date {
                    color: #939393;
                    font-size: 15px;
                }

                .content__name {
                    color: #484848;
                    font-size: 30px;
                    margin: 0;
                }

                .content__text {
                    font-size: 20px;
                    color: #646464;
                }

                .content__menu {
                    display: flex;

                    .menu__btn {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background: none;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        margin-right: 15px;
                    }

                    .btn__img {
                        width: 130%;
                    }
                }
            }
        }
    }
}