.service {
    padding-bottom: 50px;

    .service__title {
        font-size: 42px;
        text-align: center;
        text-transform: uppercase;
        color: $red;
        font-weight: bold;
        margin: 0;
    }

    .products__text {
        text-align: center;
        font-size: 15px;
        color: #939393;
        margin-bottom: 30px;

        .text__link {
            color: $red;
        }
    }

    .service__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .content__img {
        width: 45%;
        position: relative;

        .img__img {
            width: 100%;
        }

        .img__sale {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #FF0000;
            color: #ffffff;
            padding: 30px;
            width: 250px;
            text-align: center;
            border-radius: 0 0 50px 0;
        }
    }

    .content__about {
        width: 50%;

        .about__title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 0;
        }

        .about__text {
            font-size: 15px;
            color: #939393;
        }

        .about__price {
            margin-bottom: 30px;

            .price__row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;
            }

            .row__name {
                color: #484848;
                width: 70%;
            }

            .row__old-price {
                color: #939393;
                width: 15%;
                text-decoration: line-through;
            }

            .row__new-price {
                font-size: 17px;
                color: $red;
                width: 15%;
            }
        }

        .about__callback {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .callback__btn-price {
                background: #ffffff;
                color: $red;
            }
        }
    }
}