.services {
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgba(184, 139, 124, 0.03);

    .services__container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    
    .services__title {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        margin-right: 34px;

        @include phones() {
            width: 100%;
        }

        .title__num {
            color: $red;
            font-size: 197px;
            margin: 0;
            margin-right: 40px;

            @include tablets() {
                font-size: 150px;
            }

            @include phones() {
                font-size: 120px;
                margin-right: 20px;
            }
        }

        .title__text {
            color: $red;
            font-size: 42px;
            text-transform: uppercase;
            margin: 0;

            @include tablets() {
                font-size: 33px;
            }

            @include phones() {
                font-size: 25px;
            }
        }
    }

    .services__item {
        width: 23%;
        padding: 20px 20px;
        display: flex;
        height: 265px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
        border-radius: 15px; 
        background: #ffffff;
        margin-bottom: 20px; 
        transition: .3s;
        border: 1px solid #dcdcdc;
        margin-right: 28px;

        &:nth-child(3) {
            margin-right: 0;
        }

        &:nth-child(7) {
            margin-right: 0;
        }

        &:nth-child(11) {
            margin-right: 0;
        }

        &:nth-child(15) {
            margin-right: 0;
        }

        @include phones() {
            width: 45%;
            height: 150px;
            justify-content: space-around;
            padding: 10px;
            align-items: center;
            text-align: center;
        }

        .item__title {
            text-align: center;
            
            @include tablets() {
                font-size: 12px;
                margin: 10px 0;
            }
        }

        .item__text {
            text-align: center;

            @include tablets() {
                font-size: 10px;
                margin: 5px 0;
            }

            @include phones() {
                display: none;
            }
        }

        .item__img {
            width: 55px;
            height: 50px;
            background-size: contain;

            &--1 {
                background: url('../images/services/svg/1.svg') center center no-repeat;
            }

            &--2 {
                background: url('../images/services/svg/2.svg') center center no-repeat;
            }
            
            &--3 {
                background: url('../images/services/svg/3.svg') center center no-repeat;
            }

            &--4 {
                background: url('../images/services/svg/4.svg') center center no-repeat;
            }

            &--5 {
                background: url('../images/services/svg/5.svg') center center no-repeat;
            }

            &--6 {
                background: url('../images/services/svg/6.svg') center center no-repeat;
            }

            &--7 {
                background: url('../images/services/svg/7.svg') center center no-repeat;
            }

            &--8 {
                background: url('../images/services/svg/8.svg') center center no-repeat;
            }

            &--9 {
                background: url('../images/services/svg/9.svg') center center no-repeat;
            }

            &--10 {
                background: url('../images/services/svg/10.svg') center center no-repeat;
            }

            &--11 {
                background: url('../images/services/svg/11.svg') center center no-repeat;
            }

            &--12 {
                background: url('../images/services/svg/12.svg') center center no-repeat;
            }

            &--13 {
                background: url('../images/services/svg/13.svg') center center no-repeat;
            }

            &--14 {
                background: url('../images/services/svg/14.svg') center center no-repeat;
            }

            &--15 {
                background: url('../images/services/svg/15.svg') center center no-repeat;
            }

            &--16 {
                background: url('../images/services/svg/16.svg') center center no-repeat;
            }

            &--17 {
                background: url('../images/services/svg/17.svg') center center no-repeat;
            }
        }

        &:hover {
            background: url('../images/services/active.png');
            background-size: cover;
            color: #ffffff;

            .item__img {

                &--1 {
                    background: url('../images/services/svg/active/1.svg') center center no-repeat;
                }
    
                &--2 {
                    background: url('../images/services/svg/active/2.svg') center center no-repeat;
                }
                
                &--3 {
                    background: url('../images/services/svg/active/3.svg') center center no-repeat;
                }
    
                &--4 {
                    background: url('../images/services/svg/active/4.svg') center center no-repeat;
                }
    
                &--5 {
                    background: url('../images/services/svg/active/5.svg') center center no-repeat;
                }
    
                &--6 {
                    background: url('../images/services/svg/active/6.svg') center center no-repeat;
                }
    
                &--7 {
                    background: url('../images/services/svg/active/7.svg') center center no-repeat;
                }
    
                &--8 {
                    background: url('../images/services/svg/active/8.svg') center center no-repeat;
                }
    
                &--9 {
                    background: url('../images/services/svg/active/9.svg') center center no-repeat;
                }
    
                &--10 {
                    background: url('../images/services/svg/active/10.svg') center center no-repeat;
                }
    
                &--11 {
                    background: url('../images/services/svg/active/11.svg') center center no-repeat;
                }
    
                &--12 {
                    background: url('../images/services/svg/active/12.svg') center center no-repeat;
                }
    
                &--13 {
                    background: url('../images/services/svg/active/13.svg') center center no-repeat;
                }
    
                &--14 {
                    background: url('../images/services/svg/active/14.svg') center center no-repeat;
                }

                &--15 {
                    background: url('../images/services/svg/active/15.svg') center center no-repeat;
                }

                &--16 {
                    background: url('../images/services/svg/active/16.svg') center center no-repeat;
                }

                &--17 {
                    background: url('../images/services/svg/active/17.svg') center center no-repeat;
                }
            }
        }
    }
}