.service {
    padding-bottom: 50px;

    .service__text {
        .about__title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 0;
        }

        .about__text {
            font-size: 15px;
            color: #939393;
        }
    }

    .service__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include phones() {
            flex-direction: column;
        }
    }

    .content__img {
        width: 45%;
        position: relative;
        border-radius: 0 0 100px 0;
        overflow: hidden;

        @include phones() {
            width: 100%;
        }

        .img__img {
            width: 100%;
        }

        .img__sale {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #FF0000;
            color: #ffffff;
            padding: 30px;
            width: 250px;
            text-align: center;
            border-radius: 0 0 50px 0;
        }
    }

    .content__about {
        width: 50%;

        @include phones() {
            width: 100%;
        }

        .about__price {
            margin-bottom: 30px;

            .price__row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;
            }

            .row__name {
                color: #484848;
                width: 70%;
            }

            .row__old-price {
                color: #939393;
                width: 15%;
                text-decoration: line-through;
            }

            .row__new-price {
                font-size: 17px;
                color: $red;
                width: 15%;
            }
        }

        .about__callback {
            display: flex;
            align-items: center;
            justify-content: space-around;

            @include phones() {
                flex-direction: column;
            }

            .callback__btn-price {
                background: #ffffff;
                color: $red;
                border: 1px solid $red;

                @include phones() {
                    width: 100%;
                }
            }

            .callback__btn-buy {
                @include phones() {
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }
}