.service {
    padding-bottom: 30px;
    padding-top: 30px;

    .title {
        color: $red;
        font-size: 32px;
        margin-bottom: 30px;
    }

    p {
        font-size: 18px;
        margin-bottom: 0;
    }

    ol,ul {
        margin: 0;
        font-size: 18px;
        list-style: initial;
        padding-left: 20px;
    }

    a {
        color: $red;
        text-decoration: underline;
    }

    .service__breadcrumbs {
        list-style: none;
        padding: 0;
    }

    .service__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 415px;

        @include tablets() {
            flex-direction: column;
            height: initial;
        }
    }

    .content__img {
        width: 55%;
        position: relative;
        border-radius: 15px;
        overflow: hidden;

        @include tablets() {
            width: 100%;
            margin-bottom: 20px;
        }

        .img__img {
            width: 100%;
        }

        .img__sale {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #FF0000;
            color: #ffffff;
            padding: 10px;
            width: 190px;
            text-align: center;
            border-radius: 0 0 50px 0;

            @include tablets() {
                width: 150px;
                padding: 10px;
            }

            .sale__text {
                margin: 0;
            }
        }
    }

    .content__about {
        width: 40%;
        height: 100%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-gray;
        border-radius: 15px;

        @include tablets() {
            width: 100%;
            padding: 10px 20px;
        }

        .about__subtitle {
            font-size: 30px;
            font-weight: bold;
            margin-top: 0;
            text-align: center;
        }

        .about__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0;

            .list__item {
                display: flex;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                .item__img {
                    width: 40px;
                    height: 40px;
                    margin-right: 30px;
                }
    
                .item__text {
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }
}

.service-about {
    padding: 30px 0;
    .service-about__container {
        flex-direction: row;
        justify-content: space-between;

        @include tablets() {
            flex-direction: column;
        }
    }

    .service-about__text {
        width: 55%;

        @include tablets() {
            width: 100%;
        }

        p {
            font-size: 17px;
        }
    
        h3 {
            font-size: 20px;
            font-weight: bold;
        }
    
        ul {
            font-size: 17px;
        }

        .text__border-red {
            background: linear-gradient(to right, red, white);
            padding: 2px;
            border-radius: 10px;
            margin-top: 20px;
        }
    
        .border-red__text {
            background: #fff;
            margin: 0;
            padding: 20px 30px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 17px;

            @include tablets() {
                padding: 10px 15px;
            }

        }
    
        .text__text--bg-gray {
            display: block;
            background: #F2F2F2;
            border-radius: 10px;
            padding: 20px 30px;

            @include tablets() {
                padding: 10px 15px;
            }
        }
    
        .text__btns {
            display: flex;
            margin-top: 30px;

            @include tablets() {
                flex-direction: column;
            }
    
            .btns__link {
                margin-right: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                width: 100%;
            }
    
            .btns__btn {
                background: none;
                border: 1px solid #DCDCDC;
                color: $red;
            }
        }
    }

    .service-about__news {
        width: 40%;
        height: 500px;
        padding: 0 30px;
        border: 1px solid $border-gray;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include tablets() {
            width: 100%;
            height: initial;
            margin-top: 30px;
        }

        .news__subtitle {
            font-size: 30px;
            font-weight: bold;
            margin-top: 0;
        }

        .news__list {
            display: flex;
            flex-direction: column;

            .list__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                .item__img {
                    width: 25%;
                    border-radius: 15px;
                }

                .item__content {
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                }

                .item__link {
                    color: $red;
                    font-size: 17px;
                    text-decoration: underline;
                }

                .content__text {
                    font-size: 15px;
                }
            }
        }
    }
}