.container {
  max-width: 1170px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.42;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #ffffff;
}

*, *::before, *::after {
box-sizing: border-box;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

.btn {
  background: $red;
  color: #ffffff;
  font-size: 12px;
  border: none;
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background: darken($color: $red, $amount: 10);
  }
}

a {
  color: #000000;
  text-decoration: none;
}

.title-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  min-width: 200px;
  margin-bottom: 100px;

  @include tablets() {
    margin-bottom: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .title__num {
    color: $red;
    font-size: 144px;
    z-index: 5;
    margin: 0;
    left: 50px;
    position: relative;
    font-weight: bold;

    @include phones() {
      position: static;
    }
  }

  .title {
    font-size: 48px;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 10;
    background: #ffffff;
  
    @include tablets() {
      text-align: center;
      font-size: 34px;
      margin: 0;
      position: relative;
      top: -80px;
    }
  }
}


.section {
  padding-top: 50px;
  padding-bottom: 50px;

  @include tablets() {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}