// resolutions
$desktop: 1200px;
$laptop: 1024px;
$tablets: 768px;
$phones: 576px;
$landscape-width: 850px;
$landscape-height: 450px;

//colors
$black: #484848;
$gray: #939393;
$red: #FF003D;
$border-gray: #EBEBEB;