@import './config/variables.scss';
@import './config/media.scss';
@import './config/base.scss';

//layout
@import './layout/header.scss';
@import './layout/hero.scss';
@import './layout/partners.scss';
@import './layout/plus.scss';
@import './layout/callback.scss';
@import './layout/result.scss';
@import './layout/services.scss';
@import './layout/contacts.scss';
@import './layout/footer.scss';
@import './layout/products.scss';
@import './layout/service.scss';
@import './layout/news.scss';