<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Росмедицина</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <div class="header__block">
                    <a href="./index.html" class="header__logo">
                        <img src="assets/images/logo.svg" alt="росмедицина" class="logo__img">
                    </a>
                    <div class="left__imgs">
                        <div class="imgs__item">
                            <img src="assets/images/hero/star.png" alt="6 лет на рынке" class="hero__img">
                            <div class="item__text">7 лет в медицине</div>
                        </div>
                        <div class="imgs__item">
                            <img src="assets/images/hero/star.png" alt="Медицинская лицензия" class="hero__img">
                            <div class="item__text">Зарубежный опыт</div>
                        </div>
                        <div class="imgs__item">
                            <img src="assets/images/hero/star.png" alt="Сертификат ISO" class="hero__img">
                            <div class="item__text">Медицинская лицензия</div>
                        </div>
                        <div class="imgs__item">
                            <img src="assets/images/hero/star.png" alt="Нет информации" class="hero__img">
                            <div class="item__text">Лицензия на наркотики</div>
                        </div>
                        <div class="imgs__item">
                            <img src="assets/images/hero/star.png" alt="Нет информации" class="hero__img">
                            <div class="item__text">ISO 9001-2015</div>
                        </div>
                    </div>
                </div>
                <a href="tel:+74957244266" class="header__phone">
                    <img src="assets/images/icons/phone-new.svg" alt="телефон" class="phone__icon">
                    +7 (495) 724-42-66
                </a>
                <div class="header__wrap-block">
                    <div class="header__socials">
                        <a href="tel:+74957244266" rel="nofollow" class="header__phone--mob">
                            <img src="assets/images/icons/phone-new.svg" alt="телефон" class="phone__icon">
                        </a>
                        <a href="mailto:sos@rocmedicina.ru" rel="nofollow" class="socials__icon">
                            <img src="assets/images/icons/mail.svg" alt="e-mail" class="icon__img">
                        </a>
                        <a href="https://wa.me/+79096293903?text=Здравствуйте.%20Вопрос%20по%20поводу%" rel="nofollow"
                            class="socials__icon">
                            <img src="assets/images/icons/whatsapp.svg" alt="whatsapp" class="icon__img">
                        </a>
                        <a href="https://telegram.me/rocmedicina" rel="nofollow" class="socials__icon">
                            <img src="assets/images/icons/telegram.svg" alt="telegram" class="icon__img">
                        </a>
                        <a href="viber://chat?number=79096293903" rel="nofollow" class="socials__icon">
                            <img src="assets/images/icons/viber.svg" alt="viber" class="icon__img">
                        </a>
                    </div>
                    <a href="./buy.html" class="header__buy">Онлайн оплата</a>
                </div>
                <button class="header__menu">
                    <img src="assets/images/icons/menu.svg" alt="меню" class="menu__img menu__img--open">
                    <img src="assets/images/icons/exit.svg" alt="выход" class="menu__img menu__img--exit">
                </button>
            </div>
            <div class="container header-menu__container">
                <div class="header__menu-list">
                    <a href="./index.html" class="menu-list__link">Главная</a>
                    <a href="./about.html" class="menu-list__link">О компании</a>
                    <a href="./services.html" class="menu-list__link">Услуги</a>
                    <a href="./sales.html" class="menu-list__link">Акции</a>
                    <a href="./jobs.html" class="menu-list__link">Вакансии</a>
                    <a href="./news.html" class="menu-list__link">Новости</a>
                    <a href="./docs.html" class="menu-list__link">Документы</a>
                    <a href="./reviews.html" class="menu-list__link">Отзывы</a>
                    <a href="./price.html" class="menu-list__link">Цены</a>
                    <a href="./contacts.html" class="menu-list__link">Контакты</a>

                </div>
            </div>
        </header>
        <section class="section docs">
            <div class="container docs__container">
                <h1 class="title products__title">Гарантии медицинской помощи</h1>
                <ul class="docs__list">
                    <li class="list__item">
                        <a href="assets/docs/licenziya-medicinskaya.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Медицинская лицензия ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/licenziya-narkotiki.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Лицензия на наркотики ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/INN.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            ИНН ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/ISO.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Сертификат соответствия ISO ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/OGRN.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            ОГРН ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/rekvizity.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Реквизиты ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/ustav.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Устав ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/EGRYUL.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Выписка из ЕГРЮЛ ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/pol'zovatel'skoe-soglashenie.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Пользовательское соглашение ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/politika-obrabotki-dannyh.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Политика обработки данных ООО «РМА»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/spravka-nalogovaya.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Справка от ФНС России
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/spravka-sberbank.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Справка от ПАО «Сбербанк России»
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/Declaraciya.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Участник государственных контрактов
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="assets/docs/vistavki.pdf" target="_blank" class="item__link">
                            <img src="assets/images/download.svg" alt="скачать" class="link__img">
                            Участник Российских выставок
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section callback">
            <div class="container callback__container">
                <h2 class="callback__title">Оставьте заявку и получите суперцену</h2>
                <form method="POST" class="callback__form">
                    <div class="form__row">
                        <div class="form__item">
                            <label for="" class="item__label">
                                <img src="assets/images/callback/name.svg" alt="имя" class="label__img">
                            </label>
                            <input class="item__inp" type="text" placeholder="Имя" name="name" value="" required>
                        </div>
                        <div class="form__item">
                            <label for="" class="item__label">
                                <img src="assets/images/callback/phone.svg" alt="телефон" class="label__img">
                            </label>
                            <input class="item__inp item__inp--phone" type="text" placeholder="Телефон" name="phone"
                                value="" required>
                        </div>
                        <div class="form__item">
                            <label for="" class="item__label">
                                <img src="assets/images/callback/mail.svg" alt="e-mail" class="label__img">
                            </label>
                            <input class="item__inp" type="email" placeholder="E-mail" name="email" value="" required>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__item">
                            <p class="form__text form__text--callback">
                                Не хотите ждать?
                                <br>Позвоните нам +7 (495) 724-42-66
                            </p>
                        </div>
                        <div class="form__item">
                            <button class="btn form__btn">Получить скидку</button>
                        </div>
                        <div class="form__item form__item--copy">
                            <p class="form__copy">
                                При отправлении заявки
                                <br>Вы соглашаетесь на <a
                                    href="assets/docs/Soglasie-na-obrabotku-personal'nyh-dannyh.pdf" target="_blank"
                                    class="copy__link">обработку персональных данных</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__row">
                    <div class="footer__left">
                        <a href="./index.html" class="left__logo">
                            <img src="assets/images/logo.svg" alt="Росмедицина" class="logo__img">
                        </a>
                        <div class="left__iso">
                            <a href="./docs.html" target="_blank" class="iso__img iso__img--9001"></a>
                            <a href="./docs.html" target="_blank" class="iso__img iso__img--14001"></a>
                            <a href="./docs.html" target="_blank" class="iso__img iso__img--18001"></a>
                            <a href="./docs.html" target="_blank" class="iso__img iso__img--7701"></a>
                            <a href="./docs.html" target="_blank" class="iso__img iso__img--7703"></a>
                        </div>
                        <a href="tel:+74957244266" class="left__link">
                            <img src="assets/images/icons/phone-new.svg" alt="телефон" class="link__icon">
                            +7 (495) 724-42-66
                        </a>
                        <a href="mailto:sos@rocmedicina.ru" class="left__link">
                            <img src="assets/images/icons/mail.svg" alt="e-mail" class="link__icon">
                            sos@rocmedicina.ru
                        </a>
                    </div>
                    <div class="footer__center">
                        <a href="./news.html" class="center__link">Новости</a>
                        <a href="./sales.html" class="center__link">Акции</a>
                        <a href="./about.html" class="center__link">О компании</a>
                        <a href="./reviews.html" class="center__link">Отзывы</a>
                        <a href="./services.html" class="center__link">Услуги</a>
                        <a href="./docs.html" class="center__link">Документы</a>
                        <a href="./reviews.html" class="center__link">Вакансии</a>
                        <a href="./index.html" class="center__link">Контакты</a>
                        <a href="./price.html" class="center__link">Цены</a>
                    </div>
                    <div class="footer__right">
                        <a href="tel:+74957244266" class="left__link">
                            <img src="assets/images/icons/phone-new.svg" alt="телефон" class="link__icon">
                            +7 (495) 724-42-66
                        </a>
                        <a href="mailto:sos@rocmedicina.ru" class="left__link">
                            <img src="assets/images/icons/mail.svg" alt="e-mail" class="link__icon">
                            sos@rocmedicina.ru
                        </a>
                        <button class="btn right__btn">Сделать заказ</button>
                        <div class="right__socials">
                            <a href="https://www.instagram.com/rosmedicina/" target="_blank" rel="nofollow"
                                class="socials__link socials__link--inst"></a>
                            <a href="https://www.facebook.com/rocmedicina/" target="_blank" rel="nofollow"
                                class="socials__link socials__link--fb"></a>
                            <a href="https://vk.com/rosmedicina" rel="nofollow" target="_blank"
                                class="socials__link socials__link--vk"></a>
                            <a href="https://twitter.com/rocmedicina" rel="nofollow" target="_blank"
                                class="socials__link socials__link--twitter"></a>
                            <a href="https://ok.ru/rocmedicina" rel="nofollow" target="_blank"
                                class="socials__link socials__link--ok"></a>
                            <a href="https://www.youtube.com/channel/UCzx2qLH0SJZ9YMIVnqoQ0JQ/featured" rel="nofollow"
                                target="_blank" class="socials__link socials__link--youtube"></a>
                        </div>
                    </div>
                </div>
                <div class="footer__row">
                    <a href="./index.html" class="row__text">ООО «РМА» c 2013 года</a>
                    <a href="assets/docs/pol'zovatel'skoe-soglashenie.pdf" target="_blank"
                        class="row__text">Пользовательское соглашение</a>
                    <a href="assets/docs/politika-obrabotki-dannyh.pdf" target="_blank" class="row__text">Политика
                        конфиденциальности</a>
                    <a href="assets/docs/Usloviya-oplati.pdf" target="_blank" class="row__text">Условия оплаты</a>
                    <a href="assets/docs/Usloviya-vozvrata.pdf" target="_blank" class="row__text">Условия возврата</a>
                </div>
                <div class="footer__row">
                    <p class="row__tex">
                        Все права защищены. Любое использование материалов сайта допускается только по согласованию с
                        администрацией сайта, с обязательной гиперссылкой на сайт <a
                            href="./index">www.rocmedicina.ru</a>. Незаконное использование преследуется по закону.
                        Представленная информация на сайте, не может быть использована для постановки диагноза,
                        назначения лечения и не заменяет очной консультации специалиста. Сайт использует файлы cookie
                        для персонализации сервисов и удобства пользователей. Оставаясь на сайте вы даете согласие на
                        обработку ваших персональных данных.
                    </p>
                </div>
            </div>
        </footer>
        <div class="popup-buy">
            <button class="popup__btn">&times;</button>
            <form class="popup-buy__form">
                <h2 class="form__title">ЗАКАЗАТЬ</h2>
                <div class="form__row">
                    <img src="assets/images/form/fio.svg" alt="Имя" class="row__img">
                    <input type="text" class="form__inp" placeholder="Ваше имя" name="name" value="" required>
                </div>
                <div class="form__row">
                    <img src="assets/images/form/phone.svg" alt="Телефон" class="row__img">
                    <input type="text" class="form__inp" id="form-buy-phone" placeholder="Номер телефона" name="phone"
                        value="">
                </div>
                <div class="form__row">
                    <img src="assets/images/icons/mail.svg" alt="E-mail" class="row__img">
                    <input type="email" class="form__inp" id="popup-email" placeholder="Электронная почта" name="email"
                        value="" required>
                </div>
                <button type="submit" class="form__btn">Отправить</button>
                <p class="form__text">
                    При отправлении заявки Вы соглашаетесь на обработку персональных данных
                </p>
            </form>
        </div>
        <div class="popup-delivery">
            <button class="delivery__exit">&times;</button>
            <h2 class="delivery__title">Как добраться до офиса на метро?</h2>
            <p class="delivery__text">
                Вам нужно выйти из метро Шоссе Энтузиастов (единственный выход) из
                стеклянных дверей налево, перейти по подземному переходу Шоссе Энтузиастов (до упора) и повернуть
                направо. Перед Вами будет Торговый центр 31, на Шоссе Энтузиастов. Огибаете его справа (центр находится
                по левую руку) и выходите по диагонали на Электродный проезд (по правую руку будет располагаться мост
                эстакады 4 транспортного кольца). Продолжая идти по Электродному проезду, Вы доходите (5-10 минут ходьбы
                от метро в зависимости от интенсивности шага) до дома № 6 – 5-этажное желтоватое здание. Вам нужен 4
                подъезд (относительно метро, сразу после серых металлических ворот). На домофоне набрать 33, подняться
                на 2 этаж, офис 33.
                <br>
                <a href="https://yandex.ru/maps/-/CCQxQ2d7hA" target="_blank" rel="nofollow">Построить маршрут</a>
            </p>
        </div>
        <div class="popup-job">
            <button class="job__exit">&times;</button>
            <h2 class="job__title">ВАШЕ РЕЗЮМЕ</h2>
            <form method="POST" action="" class="job__form" enctype="multipart/form-data">
                <div class="form__row">
                    <img src="assets/images/form/fio.svg" alt="Имя" class="row__img">
                    <input type="text" class="form__inp" placeholder="Ваше имя" name="name" value="" required>
                </div>
                <div class="form__row">
                    <img src="assets/images/form/phone.svg" alt="Телефон" class="row__img">
                    <input type="text" class="form__inp" placeholder="Номер телефона" name="phone" value="" required>
                </div>
                <div class="form__row form__wrap-file">
                    <input type="file" class="form__inp form__inp--file" id="job-file" placeholder="Прекрепить резюме"
                        name='file' value="">
                    <label for="job-file" class="form__label">
                        <span class="label__btn">Выберите файл с резюме</span>
                    </label>
                </div>
                <button class="btn form__btn">Отправить</button>
            </form>
            <p class="job__text">
                При отправлении заявки Вы соглашаетесь на обработку персональных данных
            </p>
        </div>
        <div class="bg"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>